<!-- App Header -->
<app-header></app-header>
<!-- App Header -->
<ion-content>
  <!-- showspinner Lines -->
  <ion-item *ngIf="!termsCondition">
			<ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
  </ion-item>
  <div *ngIf="!contentType" padding [innerHTML]="termsCondition?.mobile_app">
  </div>
  <div *ngIf="contentType == 'wallet'" padding [innerHTML]="termsCondition?.rivette_wallet">
  </div>

</ion-content> 

<!-- App tabs -->
<app-tabs></app-tabs>
<!-- App tabs -->