<!-- App Header -->
<app-header></app-header>
<!-- App Header -->


<ion-content>		
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			<div class="content-inner-custom order-details">
				<div class="container">
					<h2 class="border-down top_heading">ORDER DETAILS:</h2>
					<div class="order-summary">
						<h3>Summary:</h3>
						<div class="summary-address">
							<ul>
								<li>
									<span class="summary-head">Name:</span>
									<p>{{firstname}}</p>
								</li>

								<li>
									<span class="summary-head">Email:</span>
									<p>{{email}}</p>
								</li>

								<li>
									<span class="summary-head">Address:</span>
									<p>{{address}}</p>
								</li>

								<li>
									<span class="summary-head">Membership Type</span>
									<p>{{planName}}</p>
								</li>

								<li>
									<span class="summary-head">Charges:</span>
									<p>${{planPrice}}/Month</p>
								</li>

								<li>
									<span class="summary-head">Total Price:</span>
									<p>$ {{planPrice}}</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</ion-content>

<!-- App tabs -->
<app-tabs></app-tabs>
<!-- App tabs -->