<!-- App Header -->
<app-header></app-header>
<!-- App Header -->
<ion-content>
  <div class="screen-wrapper tiles-page">
    <div class="main-wrap">
      <div class="inner-content">
        
        <!-- <h1>What do you like to do?</h1> -->

        <div class="container">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/customer-info">
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                       </div>
                      <h3>Buy Jump Time</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons class="ion-button" routerLink="/customer-info">
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>Get Monthly Membership</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/customer-info">  
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>Buy Gift Cards</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/campaign-buy">
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>View Exclusive Offers</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/customer-info">  
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>Buy Gift Cards</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/campaign-buy">
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>View Exclusive Offers</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/customer-info">  
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>Buy Gift Cards</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/campaign-buy">
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>View Exclusive Offers</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/customer-info">  
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>Buy Gift Cards</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
              <ion-col>
                <div class="tiles-box-wrap">
                  <ion-buttons routerLink="/campaign-buy">
                    <div class="tiles-box-wrap-inner">
                      <div class="icon-box">
                        <h4>$25</h4>
                      </div>
                      <h3>View Exclusive Offers</h3>
                    </div>
                  </ion-buttons>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>
      </div>
    </div>
  </div>
</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->
