.padding-custom-increase{
  padding:10px 0;
  }
  
  .form-outer .form-group {
     width: 100%;
     display: block;
     margin-bottom: 10px;
  }
  
  .icon-box img {
      margin: 0 auto;
      max-height: 45px;
      max-width: 45px;
  }
  
  .icon-box {
      display: flex;
      align-items: center;
  }
  
  .tiles-box-wrap-inner {
      width: 100%;
  }
  
  .tiles-box-wrap-inner h3 {
      height: 30px;
  }
  
  .tiles-box-wrap ion-buttons:hover .tiles-box-wrap-inner h3 {
      color: #fff;
  }
  
  .tiles-box-wrap ion-buttons:hover .tiles-box-wrap-inner {
      background: #ff7226;
      background: -moz-linear-gradient(left, #ff7226 0%, #ff7226 0%, #ffa20d 100%);
      background: -webkit-linear-gradient(left, #ff7226 0%,#ff7226 0%,#ffa20d 100%);
      background: linear-gradient(to right, #ff7226 0%,#ff7226 0%,#ffa20d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7226', endColorstr='#ffa20d',GradientType=1 );
  }
  
  .tiles-box-wrap ion-buttons:hover .icon-box{
    background:#fff !important;
  }
  .tiles-box-wrap ion-buttons:hover .icon-box .without-select{
    display:none;
  }
  
  .tiles-box-wrap ion-buttons:hover .icon-box .after-select{
    display:inline-block;
  }
  
  
  .icon-box h4 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      width: 100%;
      color: #FFF;
      margin: 0;
  }
  
  .tiles-page .inner-content{
    padding-top: 0;
  }
  
  .icon-box {
      width: 55px;
      height: 55px;
  }
  .tiles-box-wrap{
    margin: 0px;
  }
  
  .tiles-box-wrap{
    box-shadow: 0 0 25px 1px rgba(181, 181, 181, 0.2);
  }
  
  .tiles-box-wrap-inner {
      padding: 15px 5px 0;
  }