.wallet { background: #fbfbfb; text-align: center; padding: 16px 0; box-shadow: 0 0 10px #b3b3b3; } .remove_space{ padding: 0px; } .wallet h4 { font-size: 17px; color: #000; font-weight: 800; letter-spacing: 0.9px; line-height: 25px; margin: 0; padding: 5px 0 0; } .wallet span { color: #000; letter-spacing: 1px; font-size: 19px; margin: 7px 0 0; display: inline-block; border-bottom: 1px solid #333; }
.fab_button{
    width: 140px;
    font-family: 'CenturyGothic';
    --border-radius: 50px;
    height: 48px;
    font-size: 15px;
    font-weight: 500;
  }

  .verticalCenter{
    margin-top: 100px;
  }