<!-- App Header -->
<app-header></app-header>
<!-- App Header -->
<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="fab_button" color="secondary" [routerLink]="['/add-money']" full >Add Money</ion-fab-button>
    </ion-fab>
   <div class="screen-wrapper tiles-page">
     <ion-row>
       <ion-col size="12" col-md-size="12" col-sm-size="12" col-lg-size="12" class="remove_space">
        <div class="wallet">
         <ion-icon name="wallet" color="primary" class="midIcon" slot="start"></ion-icon>
         <h4>Total Wallet Balance <br><span>${{walletBal}}</span></h4>
       </div>
      </ion-col>
     </ion-row>

     <div>
      <!-- Bubbles -->
      <ion-spinner *ngIf="!walletQrImg" name="bubbles" class="centerContent mid-img verticalCenter centerThis" color="primary"></ion-spinner>
      <ion-img *ngIf="walletQrImg" class="centerContent mid-img verticalCenter" src='{{walletQrImg}}'></ion-img>
       
       <ion-text *ngIf="walletQrImg" class="centerThis">Scan QR Code To Pay</ion-text>
     </div>
     <a padding class="termsLink centerThis" routerLink="/account/terms/wallet">Wallet Terms & Conditions</a>
   </div>

</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->