
.add_child{
	font-size: 15px; 
	font-weight: 500; 
	font-family: 'CenturyGothic'; 
	margin: 0; height: 50px; 
}

.child_details ion-card {
    margin: 0;
}

.child_details ion-card-subtitle {
    font-size: 12px;
    text-transform: capitalize;
    color: #333;
    padding: 8px 0 0;
    line-height: 20px;
}

.child_details ion-card {
    background: #ffffff;
    // min-height: 160px;
    margin: 0;
    padding: 0;
    border: 1px solid #e34b00;
}

.child_details ion-label{
	font-weight: bold;
	color:#000;
}

.another_child{
    font-family: 'CenturyGothic'; 
    border-radius:50px;
    margin:0px auto;
    height: 50px;
}

.alignment{
    text-align: center;
    margin: 20px 0 0;

}


.dob_field ion-item {
    background: #FFF;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px!important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.19) !important;
    overflow: hidden;
}

.form-selector .form-group {
    margin-bottom: 10px;
}

.form-selector.yes-select{
    padding-top:0px; 
}

.orangeRoundBtn{
    border-radius: 50px !important;
    background: #62b208 !important;
    text-align: center;
    padding: 12px 0px;
    margin: 10px auto;
    color: #FFF;
    font-size: 16px;
}

.padng_plus{
    padding: 14px 40px;   
}