<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<!-- Back button with a default href -->
<ion-content>  
  <div class="screen-wrapper tiles-page">
    <div class="inner-pages">      
      <div class="content-inner-custom waiver-page">
        <div class="container">
          <h3 class="top_heading">We will be asking for some information to get you signed up for your waiver.</h3>
          <div class="waver-sign-up-form">
            <form [formGroup]="formdata" (ngSubmit) = "submitForm(formdata.value)" >
              <div class="row">
                <div class="col-md-12">                  
                  <div class="btn-group" *ngIf="childdata">
                      <ion-item margin-bottom>
                        <ion-label slot="start">Children</ion-label>
                        <ion-badge color="secondary"> {{childdata?.length}}</ion-badge>
                        <ion-button slot="end" shape="round" (click) = "togglediv()">
                            Show
                        </ion-button>
                      </ion-item>
                  </div>
                  <ion-grid *ngIf="childDiv">
                    <ion-row *ngIf='childdata'>
                      <ion-col *ngFor="let child of childdata" class="child_details">
                        <ion-card>
                          <ion-item>
                            <ion-label>{{child.FirstName}} {{child.LastName}}</ion-label>
                          </ion-item>
                          <ion-item *ngIf="child.BirthDate">
                            <ion-card-subtitle >DOB: {{custDate(child.BirthDate)}}</ion-card-subtitle>
                          </ion-item>
                        </ion-card>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                
                <div class="col-md-12">
                  <div class="add-children">
                    <div class="btn-group">
                      <ion-button class="orangeRoundBtn" shape="round" color="orgbtn" (click) = "childMore()">Add Child To Waiver <ion-icon slot="end" name="add-circle"></ion-icon></ion-button>
                    </div>
                  </div>
              
                  <div *ngIf="moreChild" class="form-selector yes-select row visible">
          					
                    <div formArrayName="child">
          						<div *ngFor="let child of formdata.controls.child.controls; let i=index" class="panel panel-default">
          							<div class="panel-body" [formGroupName]="i">
          								<div class="col-xs-6 col-md-6">
          								  <div class="form-group">
          									<span class="phone-icon"><img src="../assets/images/user-icon.png" alt=""></span>
          									<input type="text" formControlName="FirstName" class="form-control input-lg" placeholder="First Name">
          								  </div>
          								</div>
          								<div class="col-xs-6 col-md-6">
          								  <div class="form-group">
          									<span class="phone-icon"><img src="../assets/images/user-icon.png" alt=""></span>
          									<input type="text" formControlName="LastName" class="form-control input-lg" placeholder="Last Name">
          									<input type="hidden" formControlName="Gender" value="1" class="form-control input-lg" >
          								  </div>
          								</div>
          								<div class="col-xs-6 col-md-6">
          									  <div class="form-group dob_field">
          									   
                                <ion-item>
                                 <span class="phone-icon"><img src="../assets/images/date-picker-icon.png" alt="" /></span>
                                  <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="BirthDate" placeholder="Date of Birth"></ion-datetime>
                                </ion-item>
          						
          									  </div>
          								</div>
          							</div>
          						</div>
          					</div>
			
                    <div class="col-xs-6 col-md-6">
                      <div class="form-group alignment">
                        <ion-button (click)="addChild()" class="orangeRoundBtn" color="orgbtn" full shape="round">Add Another Child  <ion-icon name="add-circle-outline" slot="end"></ion-icon></ion-button>
                      </div>
                    </div>
                  </div>
                </div>               
                
                <div class="submit-btn col-md-12">
                  <button [disabled]="formdata.invalid" class="orangeRoundBtn padng_plus" shape="round" color="orgbtn"  type="submit">
                  Next  <img class="left5px" src="assets/images/next-arrow.png" alt="" /></button>
                </div>              
              </div>
            
            </form>
            
          </div>        
        </div>
      </div>    
    </div>
  </div>
</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->