<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar color="primary" class="headerSec">
    <ion-buttons slot="start">
        <ion-button routerLink="/account/details">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>    
    </ion-buttons>
    
    <ion-title>
     <img alt="logo" class="appLogo" style="text-align:center;"  src="../assets/images/rockin-jump-logo.png" > 
    </ion-title>

    <ion-buttons class="padding-right" slot="end" padding-right>
        <ion-button routerLink="/notifications/list">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge id="cart-badge" class="cartBadgeRound" color='secondary' *ngIf="notificationCount">{{notificationCount}}</ion-badge>
          <ion-badge id="cart-badge" class="cartBadgeRound" color='secondary' *ngIf="!notificationCount">0</ion-badge>
        </ion-button>    
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<!-- Back button with a default href -->