#cart-badge {
    position: absolute;
    top: 0px;
    padding: 5PX;
    right: -7px;
    font-size: 12px;
    border-radius: 50%;
    min-width: 21px;
    min-height: 21px;
 }
 .cartBadgeRound{
    position: absolute;
    top: 0px;
    padding: 5PX;
    right: -7px;
    font-size: 12px;
    border-radius: 50%;
    min-width: 21px;
    min-height: 21px;     
 }
.padding-right{
    padding-right:12px;
}