<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			<div class="content-inner-custom selected-plan-page">
				<div class="container">
					<h3 class="top_heading">Membership Plan:</h3>
					<h4>You have choose {{planName}} Membership:</h4>
					<div class="selected-plan-outer">
						<div class="selected-plan-head">
							<h1>{{planName}} Membership</h1>
						</div>

						<div class="selected-plan-body">
							<div class="selected-plan-body-left">
								<div class="plan-body-left-inner"><img src="../assets/images/bigger-jumping-im.png" alt="" /></div>
							</div>

							<div class="selected-plan-body-right">
								<form [formGroup]="formdata" (ngSubmit) = "submitVal(formdata.value)" >
									<div class="optional-plan-by-days">
										<h4>Select by days:</h4>
										<div class="select-plan-inner">


											<div *ngFor="let days of listofDays">
												
												  <input type="radio" formControlName="selectDays" (click)="resetDate()" value="{{days.value}}" >
												<label class="select-check">{{days.key}}</label>
											</div>
											
										</div>
									</div>

									<div class="divided-or">
										<span>OR</span>
									</div>

									<div class="optional-plan-by-dates">
										<h4>Select by days:</h4>
										<div class="dates-by-plan">
									        <div class="form-group">
												<ion-item>
				                                 <span class="phone-icon"><img src="../assets/images/date-picker-icon.png" alt="" /></span>
				                                  <ion-datetime (click)="resetDays()" display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="startDate" placeholder="Start Date"></ion-datetime>
				                                </ion-item>
									       	</div>
											   
										   	<div class="form-group">
												<ion-item>
				                                 <span class="phone-icon"><img src="../assets/images/date-picker-icon.png" alt="" /></span>
				                                  <ion-datetime (click)="resetDays()" display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="endDate" placeholder="End Date"></ion-datetime>
				                                </ion-item>
									       	</div>
									   	</div>
									</div>

									<button class="btn btn-lg btn-primary btn-block btn-green">Next </button>
								</form>

							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</ion-content>



