.bigIcon{
    font-size: 36px;
    vertical-align: middle;
}
.jumpManImg{
    max-width: 240px;
    margin: 0 auto;
}

.personal_info h3 {
    margin: 0;
    padding:0 20px 20px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.personal_info input {
    width: 90%;
    margin: 0 0 15px 15px;
    height: 40px;
    padding: 0 0 0 10px;
    border-radius: 3px;
    border: 1px solid #b2b2b2;
}

.personal_info h4 {
    font-size: 15px;
    margin: 0;
    padding: 0 0 14px 20px;
    color: #333;
}

.personal_info h4 span {
    padding: 0 10px 0 0;
    font-weight: 700;
}
.itemCard{
    width: 100%;
}
.detailsItem .item-native .item-inner{
    padding:0 !important;
}
.item-inner {
    padding-right: 0px!important;
}
.detailsItem .item-native .item-inner{
    padding-right: 0px!important;
}
.detailsItem .item-inner{
    padding-right: 0px!important;
}
.name-label{
    font-size: 15px;
}
.card-content{
    padding: 10px;
}
.padding10{
    padding: 10px;
}