<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
    <!-- Skeleton screen -->
    <ion-item *ngIf="!customerdata">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <!-- Skeleton screen -->
    <ion-item *ngIf="customerdata" lines="none"  no-padding>
      <ion-card  class="itemCard">
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon> 
          <ion-label>Personal Information</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <ion-col size="3" size-sm="3" size-md="3" size-lg="3" class="name-label"><strong>NAME:</strong></ion-col>
            <ion-col size="9" size-sm="9" size-md="9" size-lg="9">{{customerdata?.FirstName}} {{customerdata?.LastName}}</ion-col>
        
            <ion-col size="3" size-sm="3" size-md="3" size-lg="3" class="name-label"><strong>Email:</strong></ion-col>
            <ion-col size="9" size-sm="9" size-md="9" size-lg="9">{{customerdata?.EMailAddress}}</ion-col>
                      
            <ion-col size="3" size-sm="3" size-md="3" size-lg="3" class="name-label"><strong>Phone:</strong></ion-col>
            <ion-col size="9" size-sm="9" size-md="9" size-lg="9">{{customerdata?.PhoneNumber}}</ion-col>
          </ion-row>         
        </ion-card-content>
      </ion-card>
    </ion-item>
    <!-- Skeleton screen -->
    <ion-item *ngIf="!locationData">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <!-- Skeleton screen -->
    <ion-item *ngIf="locationData" class="detailsItem" lines="none" no-padding>
      <ion-card  class="itemCard" no-padding>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-text>Location Information</ion-text>
        </ion-item>
        <ion-card-content>
            <ion-row>
                <ion-col size="3" size-sm="3" size-md="3" size-lg="3" class="name-label"><strong>NAME:</strong></ion-col>
                <ion-col size="9" size-sm="9" size-md="9" size-lg="9">Rockin' Jump {{locationData?.location}}</ion-col>
            
                <ion-col size="3" size-sm="3" size-md="3" size-lg="3" class="name-label"><strong>Phone:</strong></ion-col>
                <ion-col size="9" size-sm="9" size-md="9" size-lg="9"><a href="tel: {{locationData?.phone_number}}">{{locationData?.phone_number}}</a></ion-col>
                
                <ion-col size="3" size-sm="3" size-md="3" size-lg="3" class="name-label"><strong>Email:</strong></ion-col>
                <ion-col size="9" size-sm="9" size-md="9" size-lg="9">
                    <a href = "mailto: {{locationData?.primary_email}}">{{locationData?.primary_email}}</a>
                </ion-col>
                
                <ion-col size="3" size-sm="3" size-md="3" size-lg="3" class="name-label"><strong>Address:</strong></ion-col>
                <ion-col size="9" size-sm="9" size-md="9" size-lg="9">
                    <a href="http://maps.google.com/?q=rockin jump {{locationData?.address}}" target="_blank"> {{locationData?.address}}</a>
                </ion-col>
                
            
            </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <a padding class="termsLink" routerLink="/account/terms">Mobile App Terms of Use</a> | 
    <a padding class="termsLink" routerLink="/account/terms/wallet">Wallet Terms & Conditions</a>
    
</ion-content>

<!-- App tabs -->
<app-tabs></app-tabs>
<!-- App tabs -->