<!-- App Header -->
<app-header></app-header>
<!-- App Header -->


<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			
			<div class="content-inner-custom membership-select-page">
				<div class="container">
					
					<div *ngIf="campaigns && !ifHasNoCamp">
						<ion-row class="camp-gallery-main" *ngFor="let campaign of campaigns">
							<ion-col class="camp-gallery">
								<div class="camp-gallery-im" [routerLink]="['/campaign-detail/',campaign.id]">
									<img src="{{campaign.imagepath}}" alt=""  />
									<h4 class="total-discount">Up to <span class="badge-discount">{{campaign.max_percent}}%</span> off</h4>
									<h5>Total Amount <span class="amount"><ins>${{campaign.price}}</ins>${{campaign.value}}</span></h5>
								</div>
								<div class="camp-gallery-text">
									<h3>{{campaign.title}}</h3>
									<div class="camp-buy-now"><a [routerLink]="['/campaign-detail/',campaign.id]">Buy Now</a></div>
								</div>
							</ion-col><!-------------camp-gallery-end---------------->
						</ion-row>
					</div>

					<!-- Skeleton screen -->
						<div *ngIf="!campaigns">
							<div *ngIf="ifHasNoCamp">
								<p color="warning">No active promotions found.</p>
							</div>
							<div *ngIf="!ifHasNoCamp">
								<div class="ion-padding custom-skeleton">
									<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
									<ion-skeleton-text animated></ion-skeleton-text>
									<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
									<ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
									<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
								</div>
								
								<ion-list>
									<ion-list-header>
									<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
									</ion-list-header>
									<ion-item>
									<ion-avatar slot="start">
										<ion-skeleton-text animated></ion-skeleton-text>
									</ion-avatar>
									<ion-label>
										<h3>
										<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
										</h3>
										<p>
										<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
										</p>
										<p>
										<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
										</p>
									</ion-label>
									</ion-item>		  
								</ion-list>
							</div>
						</div>	
						<!-- END success Payment -->
				</div>
			</div>
		</div>
	</div>
</ion-content>
<!-- App tabs -->
<app-tabs></app-tabs>
<!-- App tabs -->
