.custom-buy-btn {
  height: 35px;
}

.container {
  // width: 100px;
  
  overflow: hidden; 
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll {
    overflow: auto;
  }
}


.thumnails{
  overflow-x: scroll;
  overflow-y: hidden;
  .list-thumbnail{
    height: 100%;
    white-space: nowrap;
    .img-thumb{
      display: inline-block;
      width: 200px;
    }      
  }
}
.featuredcards .thumnails{
  .list-thumbnail{
    .img-thumb{
      width: 380px;
    }     
  }
}
 
::-webkit-scrollbar { 
  display: none; 
}

.slides_pading ion-label { font-size: 20px; font-weight: 500; padding: 0 0 10px 20px; text-transform: capitalize; letter-spacing: 0.6px; }