<!-- Back button with a default href -->
<ion-header>
    <ion-toolbar color="primary" class="headerSec">
      <ion-buttons slot="start">
		<ion-back-button defaultHref="rewards-home" [text]="''"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/rewards-home">
	      <ion-icon slot="icon-only" name="home"></ion-icon>
	    </ion-button>            
      </ion-buttons>
      <ion-title>
       <img alt="logo" class="appLogo" height="40" style="text-align:center;"  src="../assets/images/rockin-jump-logo.png" > 
      </ion-title>
    </ion-toolbar>
</ion-header>
<!-- Back button with a default href -->

<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			<div class="content-inner-custom membership-select-page">
				<div class="container-no-padding">
						<ion-row class="featuredcards slides_pading">
							<ion-label>Featured</ion-label>
							<div class="thumnails" >								
								<div class="list-thumbnail">
									<div class="img-thumb" *ngFor="let card of featuredCards">
										<ion-img  no-padding no-margin (click)="buyGiftcard(card.id)" [src]="card.thumb_image"></ion-img>
									</div>
								</div>
							</div>
						</ion-row>
						<ion-row *ngFor="let giftcard of giftcards | keyvalue" class="slides_pading" >
							<ion-label>{{giftcard.key}}</ion-label>
							<div class="thumnails" >								
								<div class="list-thumbnail">
									<div class="img-thumb" *ngFor="let card of giftcard.value">
										<ion-img  no-padding no-margin (click)="buyGiftcard(card.id)" [src]="card.thumb_image"></ion-img>
									</div>
								</div>
							</div>
						</ion-row>
					<!-- Skeleton screen -->
					<div *ngIf="!giftcards">
						<div class="ion-padding custom-skeleton">
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
							<ion-skeleton-text animated></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
						</div>
						
						<ion-list>
							<ion-list-header>
							<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
							</ion-list-header>
							<ion-item>
							<ion-avatar slot="start">
								<ion-skeleton-text animated></ion-skeleton-text>
							</ion-avatar>
							<ion-label>
								<h3>
								<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
								</h3>
								<p>
								<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
								</p>
								<p>
								<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
								</p>
							</ion-label>
							</ion-item>		  
						</ion-list>
					</div>	
					<!-- Skeleton screen -->
				</div>
			</div>
		</div>
	</div>
</ion-content>

<!-- <ion-tabs> -->

<ion-tab-bar slot="bottom">

	<ion-tab-button  routerLink="/campaign-buy">
		<ion-icon  color="primary" name="star"></ion-icon>
		<ion-label color="primary">Promotions</ion-label>
	</ion-tab-button> 

	<ion-tab-button routerLink="/membership/select-prepass">
		<ion-icon color="primary" name="basket"></ion-icon>
		<ion-label color="primary">Passes</ion-label>
	</ion-tab-button>

	<ion-tab-button  routerLink="/add-money">
		<ion-icon  color="primary" name="wallet"></ion-icon>
		<ion-label color="primary">Wallet</ion-label>
	</ion-tab-button>

	<ion-tab-button  routerLink="/all-giftcards">
		<ion-icon  color="primary" name="gift"></ion-icon>
		<ion-label color="primary">Gift Cards</ion-label>
	</ion-tab-button>

	<ion-tab-button  tab="map" routerLink="/order-history/order-list">
		<ion-icon color="primary" name="reorder"></ion-icon>
		<ion-label color="primary">Orders</ion-label>
	</ion-tab-button>

</ion-tab-bar>

<!-- </ion-tabs> -->