.unread-notification{
    background:#fff;
    --ion-background-color:#0000;
    border-left: 4px solid #e34b00;
}

.unread-notification .item-detail-icon{
    color: #e34b00;
    --detail-icon-color:#e34b00;
}

.unread-notification ion-icon{
    --detail-icon-color:#e34b00;
}

.unread-notification ion-icon{
    color: #e34b00;
}
.unread-notification *{
    font-weight: bold;
}

.read-notification{
    background:#f4f5f8;
    border-left: 4px solid #f4f5f8;

}
