<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
  <!-- Loop -->
  <!-- Skeleton screen -->
  <div *ngIf="!notificationsList">
    <div *ngIf="!noRecords" class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 98%; height: 100px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 98%; height: 100px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 98%; height: 100px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 98%; height: 100px;"></ion-skeleton-text>
    </div>
    <ion-item *ngIf="noRecords">
      <ion-text>No Records Found</ion-text>
    </ion-item>
  </div>	
  <!-- Skeleton screen -->

  <ion-list *ngIf="notificationsList">
    <ion-list-header>
      <ion-label>Notifications</ion-label>
    </ion-list-header>
    <div *ngFor="let notification of notificationsList">
      <div [ngClass]="checkClass(notification.status)">
        <ion-item *ngIf="notification.sp_camp_id" (click)="spcNotificationClick(notification.sp_camp_id,notification.id)" lines="full"  detail [ngClass]="checkClass(notification.status)">
          <ion-thumbnail slot="start">
            <img *ngIf="notification.image" src="{{notification.image}}">
          </ion-thumbnail>
          <ion-label>
            <h3 text-wrap *ngIf="notification.name">{{notification.name}}</h3>
            <h2 *ngIf="notification.price">Price ${{notification.price}}</h2>
            <p text-wrap *ngIf="notification.created">{{notification.created}}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="!notification.sp_camp_id" lines="full" detail (click)="notificationClick(notification.sp_camp_id,notification.id)" [ngClass]="checkClass(notification.status)">
          <ion-thumbnail slot="start">
            <img *ngIf="notification.image" src="{{notification.image}}">
          </ion-thumbnail>
          <ion-label>          
            <h3 text-wrap *ngIf="notification.name">{{notification.name}}</h3>
            <h2 *ngIf="notification.price">Price ${{notification.price}}</h2>
            <p text-wrap *ngIf="notification.created">{{notification.created}}</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </ion-list>
  <!-- End Loop -->  
</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->