<!-- Back button with a default href -->
<ion-header>
    <ion-toolbar color="primary" class="headerSec">
      <ion-buttons slot="start">
		<ion-back-button defaultHref="rewards-home" [text]="''"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/rewards-home">
	      <ion-icon slot="icon-only" name="home"></ion-icon>
	    </ion-button>            
      </ion-buttons>
      <ion-title>
       <img alt="logo" class="appLogo" style="text-align:center;"  src="../assets/images/rockin-jump-logo.png" > 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<!-- Back button with a default href -->

<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages lt_pading">
			<div [hidden]="!showpayment">
				<ion-toolbar>
						<ion-title>Card Details</ion-title>
				</ion-toolbar>
				<form action="/" method="post" id="payment-form">
					<ion-item *ngIf="customerdata?.customer.FirstName">
						<ion-label>{{customerdata?.customer.FirstName}}</ion-label>
						<ion-input></ion-input>
					</ion-item>
					<ion-item *ngIf="customerdata?.customer.EMailAddress">
						<ion-label>{{customerdata?.customer.EMailAddress}}</ion-label>
						<ion-input></ion-input>
					</ion-item>
					<ion-item *ngIf="customerdata?.customer.PhoneNumber">
						<ion-label>{{customerdata?.customer.PhoneNumber}}</ion-label>
						<ion-input></ion-input>
					</ion-item>

			      <div class="form-row">
			        <div id="card-element">
			          <!-- a Stripe Element will be inserted here. -->
			        </div>
			  
			        <!-- Used to display Element errors -->
			        <div id="card-errors" role="alert"></div>
			      </div>

		    		<ion-button color="primary" (click) = "makePayment(clientSecret)" expand="full" full shape="round" class="jump_pay">Pay</ion-button>
			    </form>
			</div>
			<!-- showspinner Lines -->
			<ion-item *ngIf="showspinner">
					<ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
			</ion-item>
			<!-- Success Payment -->
			<div *ngIf="showsuccess"  class="centerContent" >
					<ion-card *ngIf="qrcodeImg">
						<ion-img style="width: 180px; height: 180px; margin:0 auto;" *ngIf="qrcodeImg" [src]="qrcodeImg"></ion-img> 
						<ion-card-header>
							<div *ngFor="let singlecoupon of allcoupons; let i=index">
								<ion-card-subtitle>Expiry Date: {{singlecoupon.expire_date}}</ion-card-subtitle>
								<ion-card-title>Coupon Code: {{singlecoupon.coupon}}</ion-card-title>					
							</div>	    
						</ion-card-header>
					</ion-card>
					<!-- Skeleton screen -->
					<div *ngIf="!qrcodeImg">
						<div class="ion-padding custom-skeleton">
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
							<ion-skeleton-text animated></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
						</div>
					
						<ion-list>
							<ion-list-header>
							<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
							</ion-list-header>
							<ion-item>
							<ion-avatar slot="start">
								<ion-skeleton-text animated></ion-skeleton-text>
							</ion-avatar>
							<ion-label>
								<h3>
								<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
								</h3>
								<p>
								<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
								</p>
								<p>
								<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
								</p>
							</ion-label>
							</ion-item>		  
						</ion-list>
					</div>
				</div>		
				<!-- END success Payment -->
		<!-------end-screen-wrapper------->		
		</div>

	</div>
</ion-content>
<!-- <ion-tabs> -->

<ion-tab-bar slot="bottom">

	<ion-tab-button  routerLink="/campaign-buy">
		<ion-icon  color="primary" name="star"></ion-icon>
		<ion-label color="primary">Promotions</ion-label>
	</ion-tab-button> 

	<ion-tab-button routerLink="/membership/select-prepass">
		<ion-icon color="primary" name="basket"></ion-icon>
		<ion-label color="primary">Passes</ion-label>
	</ion-tab-button>

	<ion-tab-button  routerLink="/add-money">
		<ion-icon  color="primary" name="wallet"></ion-icon>
		<ion-label color="primary">Wallet</ion-label>
	</ion-tab-button>

	<ion-tab-button  routerLink="/all-giftcards">
		<ion-icon  color="primary" name="gift"></ion-icon>
		<ion-label color="primary">Gift Cards</ion-label>
	</ion-tab-button>

	<ion-tab-button  tab="map" routerLink="/order-history/order-list">
		<ion-icon color="primary" name="reorder"></ion-icon>
		<ion-label color="primary">Orders</ion-label>
	</ion-tab-button>

</ion-tab-bar>

<!-- </ion-tabs> -->