.top_heading{
	padding-top: 20px;
}

.name_child ion-list{
	box-shadow: 0 2px 10px rgba(0,0,0,0.19) !important;
	border-radius: 6px;
}

.btn-group a:hover, .btn-group a:focus{
	background: #e34b00;
	border:1px solid #e34b00;
}

.btn-group a{
   border:1px solid #e34b00;
}

.purchase_jump{
    display: block!important;
    width: 90%!important;
    margin: 20px auto!important;
    background: #e34b00!important;
    padding: 17px 0!important;
    border: 0px!important;
}

.select-payment-option{
	margin-top:0px;
}

.select-tickets-nos .btn-group{
	    padding-top: 30px;
}

.size-qty {
    padding-bottom: 0;
}