<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
    <div class="screen-wrapper tiles-page">
        <div class="inner-pages">

            <div class="content-inner-custom select-tickets-page">
                <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)">
                    <div class="container">
                        <h2 class="top_heading">People were selected for Jump Tickets</h2>

                        <div class="select-ticktes-outer">
                            <!-- <div class="tickets-row-main" *ngFor="let childId of childSelect let i = index;">
                                <ion-list>
                                    
                                    <ion-item>
                                        <ion-label>Types of Tickets  {{childId}}</ion-label>
                                        <ion-select (ionChange)="fieldChange($event)">
                                            <ion-select-option *ngFor="let cat of catList" value="{{cat.SubCatNo}}">{{cat.Description}}</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-list>
                            </div> -->

                            <div class="tickets-row-main name_child" *ngIf="childSelect.data.length > 0">
                                <ion-list  *ngFor="let child of childSelect.data">
                                    <ion-item>
                                        <ion-label>Ticket for {{child.name}}</ion-label>
                                        <ion-select (ionChange)="fieldChange($event, child.child)">
                                            <ion-select-option *ngFor="let cat of catList" id="{{cat.price}}" value="{{cat.SubCatNo}}_{{cat.price}}">{{filterCost(cat.price)}} - {{cat.inventory}} {{cat.category}}</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-list>
                            </div>
                            
                            <div class="tickets-row-main">
                                <label>Do you want to buy socks?</label>
                                <div class="select-tickets-nos">
                                    <div class="btn-group">
                                        <a (click)="togglediv(true)" class="btn ng-hide">Yes</a>
                                        <a class="no-btn" (click)="togglediv(false)">No</a>
                                    </div>
                                </div>

                                <div class="size-qty name_child" *ngIf="showdiv">
                                    <div class="form-group">
                                        <ion-list>
                                          <ion-item>
                                            <ion-label>Quantity</ion-label>
                                            <ion-select (ionChange)="socksVal($event)" placeholder="Select One" formControlName="quantity">
                                              <ion-select-option *ngFor="let count of childSelect.data; let i = index" value="{{i+1}}">{{i+1}}</ion-select-option>
                                            </ion-select>
                                          </ion-item>

                                        </ion-list>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>

                    <div class="select-payment-option">
                        <button class="btn btn-green purchase_jump">Pay {{payVal}}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</ion-content>

<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->
