
@charset "utf-8";
/* CSS Document */



@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic.woff') format('woff'), 
  url('../fonts/CenturyGothic.ttf')  format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic-Bold.woff') format('woff'), 
  url('../fonts/CenturyGothic-Bold.ttf')  format('truetype'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'CenturyGothic';
	/*margin: 0;*/
	/*padding: 0;*/
}
:hover {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
}
body {
	font-family: 'CenturyGothic';
	font-size: 16px;
	background-color: #ffffff;
	line-height:1.6;margin:0;padding:0;color:#000;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'CenturyGothic';
	font-weight: 500;color:#000;
}
h1 {
	font-size: 40px;color:#000;
}
h2 {
	font-size: 35px;color:#000;
}
h3 {
	font-size: 28px;color:#000;
}
h4 {
	font-size: 20px;color:#000;
}
p {
	color: #000;
	font-size: 16px;
	line-height: 24px;
	font-family: 'CenturyGothic';
}
:focus {
	outline: none !important;
}
.form-control-custom:focus {
	outline: none;
}


ul, li {
	list-style: none;
}
a {
	text-decoration: none;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
a:hover {
	text-decoration: none;
	transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
}
img {
	max-width: 100%;
	height: auto;
}
a:focus {
	outline: none !important;
}

body, html{
	height:100%;
}

.screen-wrapper {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.splash-screen-bg{
	
	background: url('../images/splash-bg.png'); background-repeat: no-repeat;background-size:100% 100vh;height:100%;background-position: center;
	}

.splash-footer {position: absolute; bottom: 35px;text-align: center;padding: 0 15px; left: 0; width: 100%;color: #fff;}

.home-logo{
    display: block;
    margin: 0 auto;
}

.logo-splash {
    display: table; width: 100%; height: 100%;}
	
.logo-inner {
    display: table-cell; vertical-align: middle;text-align: center;}

.splash-logo {
    position: relative;
    top: -50px;
}
.spinner {display: inline-block;width: 100%; vertical-align: top;}

.spinner span:first-child{background: #62b208;}

.spinner span {display: inline-block; width: 45px;height: 3px;background: #fff; margin: 0 5px;}

.splash-footer h2{font-size:35px;}


/*----tiles-page-css---*/

.tiles-bg{background: url('../images/tiles-bg.jpg'); background-repeat: no-repeat;background-size:100% 100vh;height:100%;background-position: center;
	}
	
	.screen-wrapper .container {
    padding: 0 35px;
	width:100%;
}

.tiles-page .inner-content h1 {
    color: #fff;
}

.tiles-page .inner-content {
    text-align: center;
	padding-top:10%;
}

.tiles-box-wrap {
    background: #fff;
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    vertical-align: top;padding: 6px;
	box-shadow: 0 0 25px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 25px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 25px 1px rgba(0,0,0,0.2);
}
.tiles-box-wrap a {
    display: block;
}
img.after-select {
    display: none;
}
.icon-box {
    width: 82px;
    height: 82px;
    line-height: 82px;
    border-radius: 50%;
    margin: 0 auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7226+0,ff7226+0,ffa20d+100 */
    background: #ff7226; /* Old browsers */
    background: -moz-linear-gradient(left, #ff7226 0%, #ff7226 0%, #ffa20d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff7226 0%,#ff7226 0%,#ffa20d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff7226 0%,#ff7226 0%,#ffa20d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7226', endColorstr='#ffa20d',GradientType=1 ); /* IE6-9 */
}

.tiles-box-wrap-inner {
    border: 2px solid #e24600;
    padding: 15px;
}

.tiles-box-wrap-inner h3 {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    font-family: 'CenturyGothic-Bold';
}

.tiles-box-wrap a:hover .icon-box{
	background:#fff !important;
}
.tiles-box-wrap a:hover .icon-box .without-select{
	display:none;
}

.tiles-box-wrap a:hover .icon-box .after-select{
	display:inline-block;
}
.tiles-box-wrap a:hover .tiles-box-wrap-inner{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7226+0,ff7226+0,ffa20d+100 */
background: #ff7226; /* Old browsers */
background: -moz-linear-gradient(left, #ff7226 0%, #ff7226 0%, #ffa20d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ff7226 0%,#ff7226 0%,#ffa20d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ff7226 0%,#ff7226 0%,#ffa20d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7226', endColorstr='#ffa20d',GradientType=1 ); /* IE6-9 */
}

.tiles-box-wrap a:hover .tiles-box-wrap-inner h3{color:#fff;}

a:hover, a:focus{
	text-decoration:none !important;
}

.tiles-page .inner-content h1 {
    padding-bottom: 30px;padding-top: 20px;
}	

	
/*----tiles-page-css-end---*/	

/*-----------first-screen-css-start----*/

.content-inner-custom {
    padding-top: 15px;
}
.content-inner-custom h1 {
    color: #000;
    font-size: 28px;
    /* font-weight: 600; */
}

.selct-location select {
    width: 100%;
    border-radius: 10px;-webkit-border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 10px 15px;
    font-size: 18px;
    color: #4d4b4b;
    height: 55px;
    box-shadow: 0 9px 29px rgba(0,0,0,0.19);-webkit-box-shadow: 0 9px 29px rgba(0,0,0,0.19);
	-webkit-appearance: none;appearance: none;
	background: url('../images/select-arrow.png');
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 97% 23px;
    cursor: pointer;
}


.inner-pages{
	
	background: url('../images/inner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: center;
	min-height:768px;padding-bottom: 40px;
	
}
.top-bar {
    position: relative;
    background: #e34b00;
    padding: 15px 0;
}
span.back-button {
    position: absolute;
    left: 35px;
    top: 20px;
}
.inner-logo {
    text-align: center;
}

.loacton-before {
    text-align: center;
    padding-top: 25px;
}
.loacton-before h3 {
    color: #000;
    font-weight: 600;
    position: relative;
}

.loacton-before h3:after {
    content: "";
    display: block;
    background: #e34b00;
    width: 130px;
    height: 3px;
    margin: 0 auto;
    margin-top: 10px;
}
.btn-group {
    padding-top: 40px;
    padding-bottom: 40px;
}
.btn-group a {
    display: inline-block;
    min-width: 180px;
    margin: 0 5px;
    color: #000;
    font-size: 20px;
    height: 50px;
    border: 1px solid #62b208;
    border-radius: 30px;
    padding: 0 15px;
    line-height: 50px;
}

.btn-group a:hover, .btn-group a:focus{
	background-color:#62b208;color:#fff;
}

.btn-group a.yes-btn{
	background-color:#62b208;color:#fff;
}

.find-system h5 {
    font-size: 20px;
    font-weight: 600;
}
.form-outer {
    text-align: left;
    background: #fff;
    padding: 40px 25px;
    box-shadow: 0 9px 29px rgba(0,0,0,0.19);
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
	display: inline-block;
    width: 100%;
    vertical-align: top;
}
.form-outer label {
    font-weight: normal;
    font-size: 20px;
    color: #000;display: block;margin-bottom: 25px;
}

.form-outer .form-group {
    position: relative;
    float: left;
    /*width: calc(100% - 190px);*/
    width: 90%;
    display: block;

}
span.phone-icon {
    position: absolute;
    left: 0;
    top: 12px;
}

.form-outer .form-group input {
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    transition: all .5s ease-in-out;
    height: 45px;
    font-size: 18px;
    color: #202020;
    font-weight: normal;
    padding-left: 45px;
}

.form-outer .form-group input:focus{border-color:#62b208;}

button.btn.btn-green {
    background: #62b208;
    font-size: 20px;
    color: #fff;
    font-family: 'CenturyGothic';
    font-weight: 500;
    padding: 9px 10px;
    border-radius: 30px;
    margin-left: 0;
    width: 170px;
    /*float: right;*/
    border:1px solid #62b208;
    margin-top: 10px;
}
button.btn.btn-green:hover, button.btn.btn-green:focus{background: #fff;color:#62b208;}

.form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #202020;
}
.form-group input::-moz-placeholder { /* Firefox 19+ */
  color: #202020;
}
.form-group input:-ms-input-placeholder { /* IE 10+ */
  color: #202020;
}
.form-group input:-moz-placeholder { /* Firefox 18- */
  color: #202020;
}

.proceed-next-screen{
	    text-align: center;
    background: #fff;
    padding: 40px 25px;
    box-shadow: 0 9px 29px rgba(0,0,0,0.19);
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
	
}
.proceed-next-screen h4 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.green-btn {
    background: #62b208;
    color: #fff;
    display: inline-block;
    line-height: 53px;
    padding: 0 20px;
    border-radius: 30px;
    font-size: 18px;
    border: 1px solid #62b208;
}

.proceed-next-step .green-btn {
    background: #62b208;
    color: #fff;
    height: 53px;
    display: inline-block;
    line-height: 53px;
    padding: 0 55px;
    border-radius: 30px;
    font-size: 18px;
    border: 1px solid #62b208;margin-top: 10px;
}
.proceed-next-step .green-btn img {
    margin-left: 10px;
}

.form-group {
    position: relative;
}

.waver-sign-up-form input {
    height: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding-left: 40px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.19) !important;
    margin: 0 0 10px;
}
.waver-sign-up-form .phone-icon {
    left: 10px;
    top: 14px;
}

.waver-sign-up-form label {
    display: block;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #000;
    font-size: 15px;
    font-family: 'CenturyGothic';
    letter-spacing: 0.8px;
}


.waver-sign-up-form .btn-group {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.waiver-page h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;color: #000;
}
.waver-sign-up-form h2 {
    color: #000;
    font-size: 24px;
    position: relative;
    font-weight: bold;
    padding: 0 0 5px;
}
.waver-sign-up-form h2:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #e34b00;
    margin-bottom: 15px;
    margin-top: 8px;
}

.waver-sign-up-form button.btn.btn-green{
	background: #e34b00;
    font-weight: 500;
    padding: 13px 14px;
    border-radius: 30px;
    margin-left: 0;
    width: auto;
    float: none;
    border: 1px solid #e34b00;
    display: inline-block;
    min-width: 150px;
    margin-top: 25px;
    font-size: 21px;
}
.waver-sign-up-form .submit-prv-btn{
    text-align: center;
}
.waver-sign-up-form .submit-prv-btn button.btn.btn-green{
	background: #62b208;
    font-weight: 500;
    border: 1px solid #62b208;    
    border-radius: 30px;
    margin-right: 10px;
    display: inline-block;
    font-size: 17px;
    padding: 13px;
    width: 130px;
}

.waver-sign-up-form button.btn.btn-dull {
    border-radius: 30px;
    margin-right: 10px;
    display: inline-block;
    font-size: 17px;
    padding: 13px;
    width: 130px;
    background: #e34b00;
    color: #fff;
    border: 1px solid #e34b00;
}


.waver-sign-up-form button.btn.btn-green:hover{background:#e34b00;border-color:#e34b00;color:#fff;}

.submit-btn{
    text-align: center;
}

.form-selector.yes-select{
    padding-top: 25px;
    padding-bottom: 10px;
}

.waiver-page .add-children h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.waver-sign-up-form button.btn.btn-green img {
    margin-left: 5px;
    vertical-align: middle;
}
.form-selector a.btn.btn-default.child-add-btn {
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.19) !important;
    text-align: left;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    background: #e34b00;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 10px 0 30px ;
    padding-left: 40px;
    border-color: #e34b00;
}

.form-selector a.btn.btn-default.child-add-btn i.fa.fa-plus {
    position: absolute;
    left: 15px;
    top: 16px;
}
.form-selector .form-group {
    margin-bottom: 25px;
}
.waver-sign-up-form .col-md-12 {
    clear: both;
}

/*-----------first-screen-css-end----*/


/*-------waver-expire-css-start---------*/
.waiver-description h1 {
    text-align: center;
    font-family: 'CenturyGothic-Bold';
    font-size: 35px;
    position: relative;margin-bottom: 30px;
}

.waiver-expire h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #e34b00;
    margin-top: 5px;
}
.waiver-expire h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0;
}
.waiver-description {
    margin-top: 0;
    display: inline-block;
    width: 100%;
    vertical-align: top;margin-bottom: 20px;
}
.waiver-description h1:after {
    content: "";
    width: 180px;
    position: absolute;
    right: 0;
    height: 1px;
    background: #ccc;
    top: 50%;
    display: block;
}
.waiver-description h1:before {
    content: "";
    width: 180px;
    position: absolute;
    left: 0;
    height: 1px;
    background: #ccc;
    top: 50%;
    display: block;
}
.waiver-expire .waver-sign-up-form {
    margin-left: -15px;
    margin-right: -15px;
}
.description-text p {
    font-size: 15px;
    line-height: 24px;
}

.force-overflow {
  background: #fff;
  overflow: scroll;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-height:317px;
  border: 1px solid #ccc;
  overflow-x: hidden;
}
.force-overflow::-webkit-scrollbar {
    width: 10px;
}
 
.force-overflow::-webkit-scrollbar-track {
    background: #c6c6c6;
}
 
.force-overflow::-webkit-scrollbar-thumb {
  background-color: #62b208;
  border-radius:10px;
}

.select-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.select-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.select-check input:checked ~ .checkmark {
  background-color: #62b208;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.select-check input:checked ~ .checkmark:after {
  display: block;
}
.select-check .checkmark:after {
  left: 8px;
    top: 0px;
    width: 8px;
    height: 18px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-people-inner label.select-check {
    font-weight: normal;
    display: inline-block;
    padding-left: 35px;
    color: #000;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 2px;
	cursor:pointer;
}

.select-people-outer {
    text-align: left;
    background: #fff;
    padding: 25px 25px;
    box-shadow: 0 9px 29px rgba(0,0,0,0.19);
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.select-people-outer h3 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 35px;
}

.next-btn{
	text-align: center;
}

.next-btn a.btn.btn-green {
    background: #62b208;
    font-weight: 500;
    padding: 13px 14px;
    border-radius: 30px;
    margin-left: 0;
    width: auto;
    float: none;
    border: 1px solid #62b208;
    display: inline-block;
    min-width: 269px;
    margin-top: 25px;
    font-size: 22px;color:#fff;
	font-family: 'CenturyGothic';
}

.next-btn a.btn.btn-green:hover, .next-btn a.btn.btn-green:focus{background: #e34b00;
    border-color: #e34b00;
    color: #fff;}

/*-------waver-expire-css-end---------*/

/*-----------purchase-screen-two--------------*/

.size-qty button[type="button"]{
    width: 100%;
    text-align: left;
    height: 50px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
	box-shadow: 0 9px 29px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 9px 29px rgba(0,0,0,0.19);
}

.size-qty button[type="button"]:after{
	content:"";
	display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 2px;
    vertical-align: middle;
    border-width: 0 10px 10px 0;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	position: absolute;
    right: 20px;
    top: 15px;
	
}

.size-qty .dropdown-menu, .size-qty .dropdown-menu1 {
    width: 100%;
    margin-top: -1px;
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 0;
}
.size-qty .dropdown-menu li, .size-qty .dropdown-menu1 li {
    display: block;
    padding: 9px 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;color:#000;
}
.size-qty .dropdown-menu li:hover, .size-qty .dropdown-menu1 li:hover{
	background:#000;color:#fff;
}

.dropdown-menu1 {
	width: 100%;
    margin-top: -1px;
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.open>.dropdown-menu1 {
    display: block;
}

.select-payment-option button.btn.btn-green {
    width: auto;
    font-size: 20px;
    height: auto;
    padding: 11px 55px;
    display: inline-block;
	float:none;
}
.select-payment-option button.btn.btn-green:hover{background: #e34b00;color:#FFF;border-color:#e34b00;}

.select-payment-option {
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 50px;
}
.size-qty {
    padding-bottom: 30px;
}

.tickets-row-main label {
    font-weight: normal;
    color: #000;
    font-size: 18px;
    width: 100%;
    margin-bottom: 12px;
}

.select-tickets-nos .btn-group {
    padding-top: 10px;
    text-align: center;
}
.tickets-row-main {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
}
.tickets-row-main:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.select-tickets-nos {
    position: relative;
    display: inline-block;
    width: 100%;
	vertical-align:top;
}

.select-tickets-nos select {
    width: 100%;
    max-width: 475px;
    height: 50px;
    border: 1px solid #ccc;
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    color: #3f3e3e;
	    box-shadow: 0 9px 29px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 9px 29px rgba(0,0,0,0.19);
	    display: inline-block;
    vertical-align: middle;
	background: url('../images/select-arrow.png');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 95% 20px;
    cursor: pointer;
	-webkit-appearance: none;
    appearance: none;
}

.select-tickets-nos span.count-total {
    display: inline-block;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 51px;
    background: #e34b00;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
.select-ticktes-outer {
    padding-top: 30px;
}
h2.border-down:after {
    content: "";
    width: 80px;
    height: 2px;
    background: #e34b00;
    display: block;
    margin-top: 5px;
}

/*-----------purchase-screen-two-end--------------*/

/*-------order-page-css---*/

.order-details h2.border-down {
    text-align: center;
    margin-bottom: 45px;
}

.order-details h2.border-down:after {
    margin: 0 auto;
    margin-top: 5px;
}
.scanner {
    text-align: center;
    margin-bottom: 40px;
}
.order-summary {
    text-align: left;
    background: #fff;
    padding: 25px 25px;
    box-shadow: 0 9px 29px rgba(0,0,0,0.19);
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.order-summary h3{
	font-size:24px;margin-top: 0;
}
.order-summary h3:after{content: "";
    width: 80px;
    height: 2px;
    background: #e34b00;
    display: block;
margin-top: 5px;}

.summary-address ul li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.summary-address ul li p{margin-bottom:0;}
.summary-address {
    padding-top: 20px;
}
.summary-address ul {
    margin-bottom: 0;
}
.summary-address ul li:last-child {
    margin-bottom: 0;
    border: none;
}

img.selected-im {
    display: none;
}

.select-mebership-option {
    position: relative;
}

.select-mebership-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.mebership-option-inner {
    border: 2px solid #62b208;
    border-radius: 5px;
    padding: 20px;
    background: #fff;box-shadow: 0 9px 29px rgba(0,0,0,0.19);
}

.select-mebership-option input:checked ~ .mebership-option-inner {
    background-color: #62b208;
}

.mebership-option-inner h4 {
    margin-top: 25px;color:#000;
}
.select-mebership-option input:checked ~ .mebership-option-inner h4{color:#fff;}

.select-mebership-option input:checked ~ .mebership-option-inner img.normal{
	display:none;
}

.select-mebership-option input:checked ~ .mebership-option-inner img.selected-im{
	display:inline-block;
}

.membership-select-page h3.center-heading {
    font-size: 26px;
}
.content-inner-custom.membership-select-page {
    padding-top: 40px;
}
.select-mebership-option {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
    margin: 20px 0;
}

/*-------order-page-css-end---*/

/*-------------member-ship-pages-css-start-------------*/


h3.center-heading {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h3.center-heading:after {
    content: "";
    width: 80px;
    height: 2px;
    background: #e34b00;
    display: block;
       margin: 0 auto;
    margin-top: 15px;
}

a.btn.btn-green img {
    margin-left: 10px;
}

label.select-check {
    font-weight: normal;
    display: inline-block;
    padding-left: 35px;
    color: #000;
    position: relative;
    margin-bottom: 20px;
    padding-top: 2px;
    cursor: pointer;
}

.selected-plan-page h3.center-heading {
    font-size: 28px;
    text-align: left;
    max-width: 100%;
}
.selected-plan-page h3.center-heading:after {
    margin: 0;
    margin-top: 5px;
}
.selected-plan-page h4 {
    font-weight: 600;
    margin-top: 30px;
}
.selected-plan-outer {
    background: #fff;
    box-shadow: 0 9px 29px rgba(0,0,0,0.19);
    border-radius: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    margin-top: 35px;
    width: 100%;
    margin-bottom: 35px;
}
.selected-plan-head {
    background: #62b208;
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}
.selected-plan-head h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    letter-spacing: 1px;display: inline-block;
	background: url('../images/small-im-icon.png');
	background-repeat: no-repeat;
    background-size: 30px;
    height: auto;
    background-position: left center;
    padding-left: 40px;
}

.selected-plan-body-left {
    float: left;
    width: 40%;
    padding: 0 10px;
    margin: 20px 0;
}
.selected-plan-body-right {
    float: right;
    width: 60%;
    padding: 0 10px;
	 margin: 20px 0;
}
.selected-plan-body {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.plan-body-left-inner {
    background: #ffa20d;
    text-align: center;
    padding: 25px;
}
.selected-plan-body-right h4 {
    margin-top: 0;
margin-bottom: 15px;}

.selected-plan-body-right h4:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #e34b00;
    margin-top: 3px;
}

.optional-plan-by-days label.select-check {
    padding-left: 32px;
    margin-right: 15px;
    font-size: 14px;
    margin-top: 3px;
}

.divided-or {
    display: inline-block;
    width: 100%;
    margin: 12px 0;
    text-align: center;
    vertical-align: top;
    position: relative;
}
.divided-or:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 10px;
}
.divided-or span {
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 15px;
    color: #696969;
}
.dates-by-plan .form-group:last-child {
    float: right;
}
.dates-by-plan .form-group {
    float: left;
    width: calc(50% - 8px);
    position: relative;
}

.dates-by-plan .form-group input {
    border: 1px solid #ccc;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.19) !important;
    padding-left: 40px;
}
.dates-by-plan span.phone-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}
.selected-plan-body-right button.btn.btn-green {
    width: auto;
    float: none;
    font-size: 17px;
    padding: 8px 10px;
    margin-top: 10px;
    display: inline-block;
    min-width: 200px;
}

.memeber-payment h3.center-heading {
    font-size: 26px;
}
.payment-option{
	text-align: left;
    background: #fff;
    padding: 20px 0px;
    box-shadow: 0 9px 29px rgba(0,0,0,0.19);
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
li.payment-inner {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid #62b208;
	position:relative;
}

.payment-inner input{
	position: absolute;
    opacity: 0;
    cursor: pointer;
        height: 100%;
    width: 100%;
}

.checkmark-paymnet {
    position: absolute;
    top: 30px;
    left: 15px;
    height: 35px;
    width: 35px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.payment-inner .checkmark-paymnet:after {
	content: "";
    position: absolute;
    display: none;
    left: 11px;
    top: 5px;
    width: 8px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.payment-inner input:checked ~ .checkmark-paymnet:after {
    display: block;
}
.payment-inner input:checked ~ .checkmark-paymnet {
    background-color: #62b208;border-color:#62b208;
}

.choose-payment-option {
    display: table;
    width: 100%;
    padding-left: 65px;padding-right: 15px;
}
.card-details-outer {
    display: table-cell;
    width: 75%;
    padding: 20px 10px;
	vertical-align:top;
}
.expiry-date {
    display: table-cell;
    text-align: right;
    padding: 20px 15px;vertical-align:top;font-size: 14px;
}
span.cards-icon {
    display: inline-block;
    border: 1px solid #ccc;
    vertical-align: top;
}
.card-detail {
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
}
.card-detail h4 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
    color: #2e2d2d;
    font-weight: 600;
}
.add-new-card {
    text-align: center;
    padding: 30px 0;
}
.add-new-card span {
    cursor: pointer;
}
.confirm-booiking {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.confirm-booiking button.btn.btn-green {
    float: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    max-width: 320px;
    padding: 13px 10px;
}
.payment-confirm-message {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
    border-radius: 15px;
    padding: 45px 25px;
    text-align: center;
    border: 4px solid #e34b00;
}
.payment-confirm-message h3 {
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.payment-confirm-message h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #e34b00;
    margin: 0 auto;
    margin-top: 10px;
}
.payment-confirm-message p {
    font-weight: 600;
}

.documnets h2{font-family: 'CenturyGothic-Bold';font-size:28px;margin-bottom: 40px;}

.documnets h3 {
    font-size: 16px;
    margin: 15px 0;
}
.documnets .waiver-description {
    margin-top: 35px;
}
.term-condition label {
    font-weight: normal;
    color: #000;
    font-size: 15px;
    padding: 7px 0;
}
.term-condition {
    padding-top: 20px;
}
.term-condition label input {
    margin-right: 5px;
}
.button-waiver-document a.change-info {
    display: block;
    width: 100%;
    background: #e34b00;
    text-align: center;
    color: #fff !important;
    border-radius: 30px;
    padding: 12px 10px;
    font-size: 22px;
    margin-top: 25px;
}

button.button.btn-green {
    background: #62b208;
    border: none;
    width: 100%;
    font-size: 22px;
    padding: 12px 10px;
    border-radius: 30px;
    color: #fff;
    margin-top: 25px;
}
button.button.btn-orange {
    background: #f04141;
    border: none;
    width: 100%;
    font-size: 22px;
    padding: 12px 10px;
    border-radius: 30px;
    color: #fff;
    margin-top: 25px;
}
.add-photo-section {
    text-align: center;
    margin-bottom: 50px;
}
.add-photo-inner {
    display: inline-block;
}
.add-photo-inner {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.photo-add {
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    line-height: 180px;
    border: 1px solid #ccc;
}
span.add-photo-icon {
    position: absolute;
    top: 70px;
    right: -20px;
    width: 55px;
    height: 55px;
    background: #62b208;
    line-height: 55px;
    border-radius: 50%;
    cursor: pointer;
}
span.user-name {
    margin-top: 20px;
    color: #000;
    display: block;
    font-size: 20px;
}
/*-----------camap-buy------------*/
.buy-jumping h2.border-down {
    text-align: center;
}
.buy-jumping h2.border-down:after {
    margin-left: auto;
    margin-right: auto;
}
.camp-gallery-main {
    clear: both;
}
.camp-gallery {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 25px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    margin-bottom: 15px;
}
.camp-gallery-im {
    position: relative;
    padding-bottom: 56%;
    overflow: hidden;
}
.camp-gallery-im img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
	-webkit-object-fit: cover;
}
h4.total-discount {
    position: absolute;
    bottom: 15px;
    left: 25px;
    z-index: 99;
    color: #fff;
    font-size: 21px;
    /* letter-spacing: 1px; */
}
span.badge-discount {
    padding: 5px 15px;
    background: #e34b00;
    border-radius: 30px;
}
.camp-gallery-im:after {
    content: "";
    /* width: 100%; */
    /* height: 100%; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
background: -moz-linear-gradient(top, rgba(255,255,255,0) 34%, rgba(0,0,0,0.89) 100%); 
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 34%,rgba(0,0,0,0.89) 100%); 
background: linear-gradient(to bottom, rgba(255,255,255,0) 34%,rgba(0,0,0,0.89) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e3000000',GradientType=0 );
}
.camp-gallery h3 {
    font-size: 25px;
    margin-bottom: 40px;
}
.price-list-camp {
    margin: 0 -25px;
    background: #fef7f4;
}
.price-list-camp li img {
    max-width: 35px;
    margin-right: 15px;
}
.price-list-camp li {
    padding: 25px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #3c3b3b;
    font-family: 'CenturyGothic';
}
.price-list-camp li:last-child {
    border: none;
}
.price-list-camp li span.right-area-camp {
    float: right;
    /* font-weight: 600; */
    color: #000;
    font-size: 24px;
}
.price-list-camp li.disc-price span.right-area-camp{
	 font-family: 'CenturyGothic-Bold';
	 color:#e34b00;
}
.camp-buy-now {
    display: inline-block;
    width: 100%;
    margin: 10px 0 15px 0;
    text-align: center;
    display: none;
}
.camp-buy-now a {
    display: block;
    background: #e34b00;
    color: #fff !important;
    text-decoration: none;
    font-size: 26px;
    padding: 7px 15px;font-weight: 300;
}
.camp-buy-now a:hover {
    background: #f7941d;color: #fff !important;
}
.camp-gallery-descirption h3 {
    font-size: 25px;
    margin-bottom: 20px;
}
ul.camp-jump-price-list li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding-right: 12px;
    border-right: 1px solid #ccc;font-family: 'CenturyGothic';color: #3c3b3b;
}
ul.camp-jump-price-list li:last-child{border:none;margin-right: 0px;padding-right: 0px;}
ul.camp-jump-price-list li img {
    max-width: 20px;margin-right:8px;
}
.camp-gallery-descirption {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 15px 25px;
    padding-top: 0;
	box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
span.camp-jump-price-inner {
    padding-left: 8px;
    color: #000000;
    font-size: 18px;
    font-family: 'CenturyGothic-Bold';
}
span.camp-jump-price-inner.after-discount {
    color: #e34b00;
}
ul.camp-jump-price-list {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.camp-gallery-descirption h4 {
    font-size: 22px;
    margin: 25px 0;
    font-family: 'CenturyGothic-Bold';
}
.camp-gallery-detail {
    margin-top: 10px;
}
ul.list-all li {
    font-family: 'CenturyGothic';
    position: relative;
    padding-left: 25px;
    margin-bottom: 18px;color: #000;
}
ul.list-all li:before {
    content: "";
    position: absolute;
    left:4px;
    top: 3px;
    width: 7px;
    height: 14px;
    border: solid #e34b00;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);
}
.camp-conatct {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.camp-conatct h5 {
    font-size: 20px;
    font-family: 'CenturyGothic' !important;
    font-weight: 700;
}
.camp-conatct ul li {
    font-family: 'CenturyGothic';
    margin-bottom: 4px;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    position: relative;
    font-weight: 500;
}
.camp-conatct ul li.phone {
    color: #e34b00;
    font-family: 'CenturyGothic-Bold';
    font-size: 24px;
}
.camp-conatct ul li img {
    max-width: 22px;
    margin-right: 15px;
}
.camp-conatct ul li a {
    color: #000;
}
.gift-card h2.border-down {
    text-align: center;
}
.gift-card h2.border-down:after {
    margin-left: auto;
    margin-right: auto;
}
.gift-card-im img {
    width: 100%;
}
.gift-card-outer {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    background: #fff;
}
.gift-card-outer .gc-header-img{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.amount-custom {
    padding: 25px;
    padding-top: 0;
}
.amount-custom h3 {
    font-size: 25px;
}
.amount-custom-inner ul li {
    display: inline-block;
    margin-right:10px;
}
.amount-custom-inner ul li:last-child{margin-right:0;}
.amount-custom-inner ul li span {
    display: block;
    border: 1px solid #ccc;
    padding: 1.2rem 1.6rem 1.2rem 1.7rem;
    /* width: 79px; */
	font-family: 'CenturyGothic';
    color: #000;
	border-radius: 5px;
}
.amount-custom-inner ul li input {
    padding: 0 1.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    height: 49PX;
    font-size: 16px;
    font-family: 'CenturyGothic';
}
.gift-card-form {
    padding: 0 25px;
    padding-bottom: 25px;
    padding-top: 20px;
}
.form-group label {
    font-family: 'CenturyGothic';display: block;
}

.gift-card-form .form-group label {
    font-family: 'CenturyGothic';
}

.gift-card-form .form-group input[type="number"] {
   /* border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 275px;
    height: 50px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.19) !important;*/
}
.gift-card-form input.gc-order-form-bn {
    background: #e34b00;
    border: none;
    color: #fff;
    width: 250px;
    margin: 0 auto;
    display: block;
    height: 55px;
    font-size: 23px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 35px;
}
.gift-card-form input.gc-order-form-bn:hover{background: #e34b00;background: #f7941d;}
.gift-card-form .form-group {
    margin-bottom: 0px;
}

/*----media-query-start---*/

@media (min-width: 768px){

.tiles-page .inner-content h1 {
    font-size: 40px;
}
.screen-wrapper {height: 100%;}

.splash-screen { position: absolute; top: 0;left: 0;right: 0;bottom: 0; width: 100%;height: 100%;}

}

@media only screen and (max-width: 767px){

/*-----------camap-buy------------*/
.camp-buy-now.fixed-bottom {
    position: fixed;
    bottom: -2px;
    left: 0;
    width: 100%;
    margin-bottom: 0;
	z-index:99;
}
/*-----------camap-buy-end-----------*/

.splash-logo img { max-width: 200px;}

.splash-footer h2{font-size:24px;}


}

@media only screen and (max-width: 639px){
	
.col-xs-6.box-tiles {padding: 0 5px;}
	
.screen-wrapper .container { padding: 0 15px;}

.tiles-box-wrap-inner { padding: 15px 5px;}

.tiles-box-wrap-inner h3 {font-size: 13px;}

.tiles-box-wrap{padding: 4px;margin: 20px 0 5px;}

.tiles-page .inner-content h1 { padding-bottom: 10px; padding-top: 0px;font-size: 26px;}

.icon-box {
width: 75px;height: 75px;line-height: 75px;}

span.back-button {
    position: absolute;
    left: 15px;
}
span.back-button img {
    max-width: 22px;
}
.content-inner-custom {
    padding-top: 0;
}
.content-inner-custom h1 {font-size: 24px;}

.selct-location select{padding-right: 45px;background-position: 95% 23px;font-size: 15px;}

.loacton-before h3 {
    font-size: 18px;
}
.btn-group a{min-width: 150px;    font-size: 18px;}
.find-system h5 {
    font-size: 16px;
}
.form-outer{
	margin-top: 30px;
    margin-bottom: 30px;padding: 20px 20px;
}
.form-outer label {
font-size: 17px;}

button.btn.btn-green {
    font-size: 17px;
    padding: 9px 10px;
    width: 130px;
}
button.btn.btn-orange {
    font-size: 17px;
    padding: 9px 10px;
    width: 130px;
}
.form-outer .form-group {
    width: calc(100% - 140px);
}
span.phone-icon img {
    max-width: 18px;
}
.form-outer .form-group input {
    font-size: 15px;
    padding-left: 28px;
    width: 100%;
}
.proceed-next-step .green-btn {
    padding: 0 15px;
    width: 100%;
}
.proceed-next-screen {
padding: 25px 15px;}

.waver-sign-up-form .row {
    margin: 0 -5px;
}

.waver-sign-up-form .row .col-xs-6.col-md-6 {
    padding: 0 5px;
}
.waver-sign-up-form .col-md-12 {
    clear: both;
    padding: 0 5px;
}
.waver-sign-up-form input {
    font-size: 14px;
padding-left: 32px;}

.waver-sign-up-form .phone-icon img {
    max-width: 15px;
}
.form-selector a.btn.btn-default.child-add-btn{
	
	 font-size: 14px;
padding-left: 32px;
	
}
.form-selector a.btn.btn-default.child-add-btn i.fa.fa-plus {
    left: 12px;
    top: 19px;
}
.waiver-page h3 {
  font-size: 17px;
  text-align: center;
  line-height: 26px;
  padding: 20px 0 0;
}

.waiver-expire .waver-sign-up-form {
    margin-left: -5px;
    margin-right: -5px;
}
.force-overflow{padding:15px;}

.waiver-description h1:before, .waiver-description h1:after{width: 80px;}

.waiver-expire h2 {
    font-size: 20px;
}
.waiver-expire h3 {
    font-size: 18px;
}
.select-tickets-nos select {
    width: calc(100% - 70px);
max-width: 100%;}

h2.border-down {
    font-size: 18px;
    font-weight: 600;
}
.select-ticktes-outer {
    padding-top: 10px;
}
.select-payment-option button.btn.btn-green {
    font-size: 18px;
    height: auto;
    padding: 11px 40px;
}
.select-payment-option {
    margin-top: 20px;
}

.size-qty .dropdown-menu1 , .size-qty .dropdown-menu{
	min-width:inherit;
}
.order-summary{padding: 25px 15px;}

.membership-plan .col-sm-6.col-xs-6 {
    padding: 0 7px;
}
.mebership-option-inner {
padding: 20px 10px;}
.mebership-option-inner h4 {
    font-size: 15px;
}

.icons-plans img {
    max-width: 75px;
}
.content-inner-custom.membership-select-page {
    padding-top: 10px;
}
.selected-plan-page h3.center-heading {
    font-size: 22px;
}
.selected-plan-page h4 {
    margin-top: 20px;
    font-size: 16px;
}
.selected-plan-head h1{
	font-size:14px;letter-spacing: 0
}
.selected-plan-body-left {
    margin: 20px 0; margin-bottom: 0;width:100%;
}

.selected-plan-body-right {
    float: left;
    width: 100%;
    margin: 0 0 25px 0;
}

.checkmark-paymnet {
    height: 25px;
    width: 25px;
	    top: 26px;
    left: 10px;
}

.payment-inner .checkmark-paymnet:after{left: 7px;
    top: 2px;width: 7px;
    height: 15px;
    border-width: 0 2px 2px 0;}
	
	.choose-payment-option {
    padding-left: 35px;
    padding-right: 5px;
}
span.cards-icon img {
    max-width: 65px;
}
.card-detail {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    width: calc(100% - 72px);
}
.card-detail h4 {
    font-size: 14px;
    margin-bottom: 2px;
}
span.card-no {
    font-size: 14px;
    font-weight: 600;
}
.expiry-date {
    padding: 20px 10px;
    font-size: 13px;
}
.payment-option {
padding: 5px 0px;}
.memeber-payment h3.center-heading {
    font-size: 22px;
}
.button-waiver-document a.change-info {
    font-size: 16px;
}

button.button.btn-green {
font-size: 16px;}
button.button.btn-orange {
font-size: 16px;}
.button-waiver-document .col-xs-6 {
    padding: 0 5px;
}
.term-condition label {
    font-size: 14px;
}
.documnets h3 {
    font-size: 16px;
}
.documnets h2 {
    font-size: 24px;
    padding-top: 20px;
}
/*-----------camap-buy-media------------*/
.camp-gallery {
    padding: 0px;
    border-radius:6px;
    overflow: hidden;

}

.camp-gallery-text h3 {
    padding: 0 0 5px 16px;
}

/*.camp-gallery-im h5 {
    font-size: 15px;
    color: #FFF;
    z-index: 9999;
    position: absolute;
    font-weight: 600;
    right: 13px;
    bottom: 30px;
}*/

.camp-gallery-im h5 {
    font-size: 17px;
    color: #e34b00;
    z-index: 9999;
    position: absolute;
    font-weight: 700;
    right: 0px;
    top: 7px;
    background:rgba(255,255,255,0.7);
    padding: 13px 27px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: 1px 1px 5px #6b6666;
    font-family: 'CenturyGothic' !important;

}

.camp-gallery-im h5 span{
    color:#e34b00;
}


.camp-gallery-im h5 ins {
    padding:0 10px 0 4px;
    text-decoration: line-through;
    opacity: 0.7;
    color: #000;
}

/*.amount{
    color:#e34b00;
}*/

.price-list-camp {
    margin: 0 -15px;
}
.camp-gallery-im {
    padding-bottom: 70%;}
	
h4.total-discount {
    left: 15px;
    font-size: 17px;
    bottom: 30px;

}
	
.camp-gallery h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 24px;
}
.price-list-camp li {
    padding: 15px 15px;
    font-size: 17px;
}
.price-list-camp li img {
    max-width: 25px;
    margin-right: 10px;
}
.price-list-camp li span.right-area-camp {
    font-size: 20px;
}

.camp-buy-now a {
    font-size: 18px;
    width: 150px;
    border-radius: 50px;
    padding: 9px 0;
    margin: 0 auto;
}


.buy-jumping h2.border-down {
    font-size: 24px;
}
span.badge-discount {
    padding: 16px 11px;
    font-weight: bold;
}

.camp-gallery-descirption {
    padding: 15px 15px;
    padding-top: 0;
}
.camp-gallery-descirption h3 {
    font-size: 18px;
    font-weight: 600;
}
.camp-gallery-descirption h4 {
    font-size: 20px;
}
.camp-gallery-descirption p {
    font-size: 15px;
    padding: 8px 0 0;
    margin: 0;
}
ul.camp-jump-price-list li{font-size: 14px;}
span.camp-jump-price-inner {
    padding-left: 1px;
font-size: 15px;}
ul.camp-jump-price-list li {
    margin-right: 0px;
    padding-right: 5px;
    font-size: 13px;
}
ul.camp-jump-price-list li img {
    max-width: 15px;
    margin-right: 4px;
}
ul.camp-jump-price-list {
    padding: 5px;
}
ul.list-all li, .camp-conatct ul li{font-size: 15px;}
.amount-custom, .gift-card-form{padding-left: 15px;
    padding-right: 15px;}
	
	.gift-card h2.border-down {
    font-size: 24px;
}

/*----Campaign Buy----*/

.discount_values {
    width: 100%;
    float: left;
    background: #FFF;
    padding: 15px 0;
    box-shadow: 1px 1px 10px #d6d6d6;
    margin: 20px 0 0;
}

.discount_values ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.discount_values ul li {
    width: 33%;
    float: left;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 17px;
    border-right: 1px solid #ccc;
}
.discount_values ul li:last-child{border-right:0px;}

.discount_values ul li span {
    display: grid;
    padding: 5px 0;
}

.color_green {color:green;}

/*----END Campaign Buy----*/
	
/*-----------camap-buy-media-end------------*/
}

@media only screen and (max-width: 400px){
	/*-----------camap-buy-media-start------------*/	
ul.camp-jump-price-list li{font-size: 13px;}
	
ul.camp-jump-price-list li img {
    max-width: 12px;
    margin-right: 2px;
}
span.camp-jump-price-inner {
    font-size: 13px;
}
.amount-custom-inner ul li {
    margin-right: 2px;
}
.gift-card-form .form-group input[type="number"] {
    width: 210px;
}
	
/*-----------camap-buy-media-end------------*/

.tiles-box-wrap-inner h3 {
    font-size: 12px;
}
button.btn.btn-orange {
    font-size: 16px;
    width: 110px;
}
button.btn.btn-green {
    font-size: 16px;
    width: 110px;
}.form-outer .form-group {
    /*width: calc(100% - 110px);*/
}
.btn-group {
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-bar .inner-logo img {
    max-width: 215px;
}
.find-system h5 {
    font-size: 15px;
}

.waiver-description h1:before, .waiver-description h1:after{width: 60px;}

.select-people-outer {
    padding: 25px 20px;
    margin-bottom: 6px;
    margin-top: 20px;
}
.select-payment-option button.btn.btn-green {
    padding: 11px 10px;
    width: 100%;
}
h3.center-heading{    font-size: 18px;}

.membership-select-page h3.center-heading {
    font-size: 20px;
}

.mebership-option-inner h4 {
    font-size: 13px;
}
.dates-by-plan .form-group input {
    padding-left: 35px;
}

.confirm-booiking button.btn.btn-green {
    max-width: 250px;font-size: 14px;
}
	
}

@media only screen and (max-width: 365px){
	/*-----------camap-buy-media-end------------*/
	
	.amount-custom-inner ul li input {
    padding: 0 1rem; width: 67px;
    font-size: 14px;}
	
	.amount-custom-inner ul li span{font-size: 14px;}
	
	/*-----------camap-buy-media-end------------*/
	
	.waiver-description h1:before, .waiver-description h1:after{width: 40px;}
	
	.splash-footer h2 {font-size: 20px;}
	
	.splash-logo img { max-width: 175px;}
	
	.tiles-box-wrap-inner h3 {
    margin-top: 10px;min-height: 35px;}
	
	.tiles-page .inner-content h1 { font-size: 24px;}
	
	.form-outer {
    padding: 20px 10px;
}
.form-outer label {
    font-size: 15px;
}
.form-outer .form-group {
    width: 100%;
}
button.btn.btn-green {
    width: 100%;
    float: left;
}
button.btn.btn-orange {
    width: 100%;
    float: left;
}
.btn-group a {
    min-width: 125px;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
}
.proceed-next-step .green-btn {
    font-size: 16px;
}
.waver-sign-up-form .row .col-xs-6.col-md-6 {
    width: 100%;
}
.size-qty .col-sm-6.col-xs-6 {
    padding: 0 8px;
}
.size-qty button[type="button"]{
	font-size:14px;
}
.membership-plan .col-sm-6.col-xs-6 {
    padding: 0 15px;
    width: 100%;
}
.select-mebership-option {
    margin: 15px 0;
    /* margin-bottom: 20px; */
}
.mebership-option-inner h4 {
    font-size: 15px;
}
.optional-plan-by-days label.select-check {
    margin-right: 7px;
    font-size: 12px;
    margin-top: 3px;
}
button.button.btn-green {
    font-size: 13px;
}
.button-waiver-document a.change-info {
    font-size: 13px;
}
	
}

/*Custom*/
.top_heading{
    margin-top: 0;
    padding-top: 10px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    color: #000;
}
.finePrint li {
    list-style: decimal;
    line-height: 30px;
}
.finePrint ul {
    list-style: decimal;
}
.centerContent{
   text-align: center;
   margin: 0 auto; 
}
.centerThis{
   text-align: center;
   margin: 0 auto;
   display: block; 
}
.mid-img{
    max-width: 250px;    
}
.reward_icon{
    width: 20px;
    padding: 0 0 0 0px;
    margin: 0 0 0 5px;    
}
.default_btn ion-button {padding: 1px 22px!important; margin: 14px 0 0; }
ion-label{
    font-family: 'CenturyGothic'!important;
}

ion-button{
    font-family: 'CenturyGothic'!important;
}

.headerSec ion-buttons{
    height: 55px;
}
.headerSec .appLogo{
    height: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

.paddingTopbottom{
    padding: 10px 0;
}
.textRight{
    text-align: right;
}
.left5px{
    margin-left: 5px;
} 

.swiper-slide {
    width: 80%;
    background: #f4f5f8;
}
.swiper-pagination{
    position: relative;
    margin-top: 15px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    color: #d5a04b !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    color: #e16501 !important;
}
.termsLink{
    text-decoration: underline;
    padding: 5px;
    font-size: 14px;
}
.midIcon{
    font-size: 36px;
}