<!-- App Header -->
<app-header></app-header>
<!-- App Header -->
	<ion-content style="background: #f8f8f8;">
		<div class="contentContainer rewardSec" *ngIf="!contentType">
			<ion-row>
				<ion-col size="12" size-md="12" size-md="sm" size-lg="12">
					<div class="top_wlcm">
					<h3>Rewards Points!</h3>
					<p>As a member using this mobile app, you will start collecting Reward points on almost every dollar you spend using this app. You will also have access to some exclusive and time sensitive promotions for mobile app users.</p>
					</div>	
				</ion-col>
			</ion-row>	

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="cart" color="primary" class="paraIcon"></ion-icon>
					<!-- <img src="../assets/images/gradient-jump-icon.png" alt="#"> -->
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data padd_top">
					<h5 class="serNo">1.</h5>
					<p>Buy promotions, gift cards, monthly passes with your mobile app or even buy items from our cafe and earn Rewards.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="basket" color="primary" class="paraIcon"></ion-icon>	
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data padd_top">
					<h5 class="serNo">2.</h5>
					<p>Collect 1 Reward Point for every dollar you spend using the app. Add money to the Wallet to earn rewards on merchandise and food items and adding more reward points.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="cash" color="primary" class="paraIcon"></ion-icon>
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data padd_top">
					<h5 class="serNo">3.</h5>
					<p>Redeem Rewards using the app such as free jump time, merchandise, pizza and gift cards.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="qr-scanner" color="primary" class="paraIcon"></ion-icon>
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data padd_top">
					<h5 class="serNo">4.</h5>
					<p>Scan the app at the location to make purchases and accumulate rewards.</p>
				</div>	
				</ion-col>
			</ion-row>
		</div>


		<!-- Wallet Section -->
		<div class="contentContainer walletSec" *ngIf="contentType == 'wallet'">
			<ion-row>
				<ion-col size="12" size-md="12" size-md="sm" size-lg="12">
					<div class="top_wlcm">
					<h3>Wallet!</h3>
					<p>Using Wallet to pay for merchandise, passes, gift cards or food items will add Reward points to your account. Paying for the items using payment method outside of the mobile app will not accumulate any Rewards points.</p>
					</div>	
				</ion-col>
			</ion-row>	

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="add-circle" color="primary" class="paraIcon"></ion-icon>
			
					<!-- <img src="../assets/images/gradient-jump-icon.png" alt="#"> -->
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data">
					<h5 class="serNo">1.</h5>
					<p>Add money to the Wallet for all purchases.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="basket" color="primary" class="paraIcon"></ion-icon>
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data">
					<h5 class="serNo">2.</h5>
					<p>Collect 1 Reward Point for every dollar you spend using the Wallet.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="qr-scanner" color="primary" class="paraIcon"></ion-icon>
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data">
					<h5 class="serNo">3.</h5>
					<p>Using "Pay with Wallet" will redirect to the page with QR code which will be scanned for all purchases at the location for your purchases.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="cash" color="primary" class="paraIcon"></ion-icon>
					<!-- <img src="../assets/images/gradient-jump-icon.png" alt="#"> -->
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data">
					<h5 class="serNo">4.</h5>
					<p>The purchase amount will be deducted from your Wallet account by scanning the QR code.</p>
				</div>	
				</ion-col>
			</ion-row>
			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="happy" color="primary" class="paraIcon"></ion-icon>
					<!-- <img src="../assets/images/gradient-jump-icon.png" alt="#"> -->
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data">
					<h5 class="serNo">5.</h5>
					<p>Enjoy more Rewards with every purchase.</p>
				</div>	
				</ion-col>
			</ion-row>
		</div>
		<!-- End Wallet Section -->

		<!-- Wallet Section -->
		<div class="contentContainer passesSec" *ngIf="contentType == 'passes'">
			<ion-row>
				<ion-col size="12" size-md="12" size-md="sm" size-lg="12">
					<div class="top_wlcm">
					<h3>Monthly Passes!</h3>
					<p>Monthly passes are a great way to enjoy multiple visits to the park at a great price with the seamless check-in process. Now you can either select a 1-Month pass or a 3-Months pass.</p>
					<p>A 3-Months pass will charge your card at the time of checkout and then 30 and 60 days interval. There will not be any other charge after 60 days charge. If you wish to purchase 3-Months pass again, you will have to repurchase it again as it cannot be reactivated.</p>
					</div>	
				</ion-col>
			</ion-row>	

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="add-circle" color="primary" class="paraIcon"></ion-icon>
			
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data padd_top">
					<h5 class="serNo">1.</h5>
					<p>Select the monthly pass option.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="key" color="primary" class="paraIcon"></ion-icon>
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data padd_top">
					<h5 class="serNo">2.</h5>
					<p>Verify the liability waiver information or complete a new liability waiver.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="camera" color="primary" class="paraIcon"></ion-icon>
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data padd_top">
					<h5 class="serNo">3.</h5>
					<p>Once you complete the purchase, you will be asked to add a picture to the monthly pass. NOTE: You will not be able to change the picture once uploaded. The monthly pass will not be activated with a picture upload.</p>
				</div>	
				</ion-col>
			</ion-row>

			<ion-row class="botm_margn">
				<ion-col size="3" size-md="3" size-sm="3" size-lg="3">
				<div class="left_ic icon_pading">
					<ion-icon name="qr-scanner" color="primary" class="paraIcon"></ion-icon>
				</div>	
				</ion-col>
				<ion-col size="9" size-md="9" size-sm="9" size-lg="9">
				<div class="right_data padd_top">
					<h5 class="serNo">4.</h5>
					<p>Scan the Monthly Pass QR code (in Orders History) at the park at each visit. It's that Simple!</p>
				</div>	
				</ion-col>
			</ion-row>			
		</div>
		<!-- End Wallet Section -->

	</ion-content>

<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->
