<!-- App Header -->
<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar color="primary" class="headerSec">
    <ion-buttons slot="start">
        <ion-button routerLink="/account/details">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>    
    </ion-buttons>
    
    <ion-title>
     <img alt="logo" class="appLogo" style="text-align:center;"  src="../assets/images/rockin-jump-logo.png" > 
    </ion-title>

    <ion-buttons class="padding-right" slot="end" padding-right>
        <ion-button routerLink="/notifications/list">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge id="cart-badge" class="cartBadgeRound" color='secondary' *ngIf="notificationCount">{{notificationCount}}</ion-badge>
          <ion-badge id="cart-badge" class="cartBadgeRound" color='secondary' *ngIf="!notificationCount">0</ion-badge>
        </ion-button>    
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<!-- Back button with a default href -->
<!-- App Header -->
<ion-router-outlet main [swipeGesture]="false"></ion-router-outlet>
<ion-content>	
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab_button" color="{{rewardColor}}" [routerLink]="['/reward/select']" (click)="rewardPage()" full >Redeem Rewards</ion-fab-button>
  </ion-fab>

  <ion-row>
    <ion-col size="12" size-md="12" size-sm="12" size-lg="12">
      <div class="user_welcome"><h3>Welcome Back<span *ngIf="custName">, {{custName}}</span></h3></div>
    </ion-col>
  </ion-row> 

  

  <!--Testing  -->
  <div class="css-accord">
    <ion-row class="pading_l_t"> 
      <ion-col size="12" size-md="12" size-sm="12" size-lg="12">
        <ion-icon name="information-circle" class="rewardDetails" [routerLink]="['/reward-details']"></ion-icon>
        <circle-progress class="circle-pg-cus"
        [percent]="currentPercent"
        [maxPercent] = "100"
        [outerStrokeColor]="'#61bd1e'"
        [titleColor] = "'#e34b00'"
        [innerStrokeColor]="'#e34b00'"
        [outerStrokeLinecap]= "square"
        [animationDuration]="500"
        [showUnits]="true"
        [showSubtitle]="true"
        [subtitle]="Points" 
        [responsive]="true"
        [title]= "currentRewardPoints"
        [titleFontSize] = "28"
        [unitsFontSize] = "20"
        [subtitleFontSize] = "14"
        [outerStrokeLinecap]="'square'"
      ></circle-progress></ion-col>
    </ion-row>
  </div>

  <!--Testing  -->
  <ion-row>
    <ion-col size="12" size-md="12" size-sm="12" size-lg="12">
      <!-- Slides -->
      <ion-slides [options]="slidesOpts"  pager="true">
        <ion-slide *ngFor="let reward of rewardOptions; let indx = index" color="light">
          <div>
            <div>
              <p class="rewardValIcon" [ngClass]="checkClass(currentStage, indx)">{{reward.rewardValue}} <ion-icon name="trophy" ></ion-icon></p>
            </div>
            <div>
              <h6>Rewards you can get with {{reward.rewardValue}} Stars</h6>
              <h5>{{reward.rewardName}}</h5>
            </div>       
          </div>
        </ion-slide>
        
      </ion-slides>
      <!-- End Slides -->
    </ion-col>
  </ion-row>
  
<!-- End Testing -->

<ion-row class="bg_ad" *ngIf="!isString(campaigns) || campaigns == undefined ">
    <ion-col size="12" size-md="12" size-sm="12" size-lg="12">
    <div class="star_streak_img">
      <!-- Skeleton screen -->
      <div *ngIf="!campaigns">
          <div class="ion-padding custom-skeleton">
              <ion-thumbnail slot="start" style="width: 100%">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-thumbnail slot="start" style="width: 100%">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
          </div>
        </div>	
        <!-- Skeleton screen -->
      <!-- Featured -->
      <div *ngIf="campaigns?.length > 0" class="thumnails campaignSection" >								
        <div class="list-thumbnail">
          <div class="img-thumb" *ngFor="let campaign of campaigns">
            <ion-img class="smallImg" no-padding no-margin [routerLink]="['/campaign-detail/',campaign.id]" [src]="campaign.imagepath"></ion-img>  
          </div>
        </div>
      </div>
      <!-- !End Featured -->
      <div *ngIf="campaigns?.length > 0">
        <h3>Promotions</h3>	
        <p>Discount Up To {{maxDiscount}}%.</p>
      </div>
    </div>	
  </ion-col>
</ion-row>


<ion-row class="bg_ad">
  <ion-col size="6" size-md="6" size-sm="6" size-lg="6">
    <div class="product_image">
        <div *ngFor="let card of featuredCards">
          <div *ngIf="card.id==25">
            <img (click)="buyGiftcard(card.id)" src="{{card.thumb_image}}">
          </div>
        </div>
    </div> 
  </ion-col> 
  <ion-col size="6" size-md="6" size-sm="6" size-lg="6">
    <div class="product_detail"  *ngFor="let card of featuredCards">
      <div *ngIf="card.id==25">
      <p>Gift Somone</p>
      <h2>A Rockin’<i class="fa fa-star" aria-hidden="true"></i></h2>  
      <h4 class="giftHeading">Gift CARD</h4>
      <a (click)="buyGiftcard(card.id)">Buy</a>
      </div>
    </div>
  </ion-col>
</ion-row>

<ion-row class="bg_ad featuredcards slides_pading">
  <ion-col size="12" size-md="12" size-sm="12" size-lg="12">
    <div class="star_streak_img">
        <!-- Featured -->
        <div class="thumnails" >								
          <div class="list-thumbnail">
            <div class="img-thumb" *ngFor="let card of featuredCards">
              <ion-img  no-padding no-margin (click)="buyGiftcard(card.id)" [src]="card.thumb_image"></ion-img>
            </div>
          </div>
        </div>
        <!-- !End Featured -->
      <h3>Gift Cards</h3>	
      <p>Say "Happy Birthday" or "Congrats" with eGifts.</p>
    </div>
  </ion-col>	
</ion-row>

</ion-content>	


<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->
