.user_welcome h3 {font-size: 22px; margin: 0; padding: 0; color: #2f2f2f; font-weight: bold; }
.user_welcome {padding: 15px 0px; background: #FFF; box-shadow: 1px 1px 10px #dcdcdc; width: 100%; margin: 0 auto; text-align: center; }
.user_welcome span {color: #e34b00; font-size: 24px; }

.pading_l_t{padding:0px 0px;}
.star_icon{color:#d5a04b; font-size:19px; padding:0 0 0 4px;}
/*.rewards_option p{color:#333; font-size:25px; margin:0px; padding:20px 0 0 0; font-weight:600;}*/
.rewards_option p{ color: #FFF; font-size: 19px; margin: 0px; padding: 13px 0 0 0; font-weight: 600; text-align: center; display: inline-block; background: #e34b00; border-radius: 50px; height: 50px; width: 50px; position: absolute; left: 0; right: 0; top: 10px; margin: 0 auto; margin-bottom: 0px;}
.rewards_option p:after {position: absolute; content: ""; left: -24px; right: 0; bottom: -14px; width: 100px; height: 2px; background: #e34b00; margin: 0 auto;}
.rewards_option p .star_icon{color:#d5a04b; font-size:19px; padding:0 0 0 4px;}
// .reward_btn{ background: #f0eceb;display: inherit; font-size: 17px;margin: 10px 0 0; border-radius: 50px; padding: 11px 14px; color: #333;}
.reward_btn{ background: #f0eceb;display: inherit;font-size: 17px;margin: 10px 0 0;border-radius: 50px;padding: 5px 10px;color: #333; width: 100px; }
/*.rewards_button span{ background: #f0eceb;font-size: 17px;margin: 10px 0 0;border-radius: 50px;padding: 5px 10px;color: #333; width: 200px; text-align:center; float:right;}
*/.icon_drop{ position: relative; top: 3px; }
.reward_btn i{font-size:28px; padding: 0 0 0 10px;}
.range_slide img {width: 16px; position: relative; top: 8px; }
.reward_drop_data h3 {font-size: 18px; margin: 0; padding: 0 0 20px; color: #000; font-weight: bold; }
.reward_drop_data { border-radius: 5px; padding: 20px 12px; margin: 0 0 30px;}
.reward_drop_data p{font-size:15px; margin: 0px; padding: 0px 0 10px; color:#333; display: inline-flex;line-height: 24px;font-weight: 600}
.reward_drop_data p span{color:#333; font-size:19px; margin:0px;display: inline-flex;}
.reward_drop_data p span i{font-size:18px; padding: 0 0 0 0px; color:#d5a04b; }
.reward_drop_data span img {width: 20px; height: 20px; padding: 0 0 0 0px;   margin: 0 0 0 5px;} 
.reward_option p{font-size: 15px; margin: 0; color: #333; font-weight: 600; padding: 33px 0 0; text-align: left; }
.reward_option p span{font-weight: 700; font-size: 16px; letter-spacing: 1px; color: #e34b00;}
.reward_drop_data a {border: 1px solid #b2b2b2; color: #333; text-decoration: none; border-radius: 50px; padding: 6px 30px; display: inline-block; margin: 10px 0 0; font-weight: 500; }
.product_detail {text-align: center; } 
.product_detail p {font-size: 15px; margin: 0;color: #333; font-weight: 600; padding: 18px 0 0; text-align: center;}
.product_detail h2 {font-size: 18px; margin: 0; padding: 0; font-weight: bold; }
.product_detail i {font-size: 18px; color:#d5a04b;}
.product_detail h4 {font-size: 19px; text-transform: uppercase; margin: 0; padding: 2px 0px 0 10px; font-weight: bold; 
  // text-align: left; 
}
.product_detail h4.giftHeading{
  padding: 0;
}
.product_detail {padding: 0px 0 0; }
.product_detail a{border: 1px solid #b2b2b2; color: #333; text-decoration: none; border-radius: 50px; padding: 6px 40px; display: inline-block; margin: 10px 0 0; font-weight: 500; }
.bg_ad{background: #FFF; border-top: 1px solid #b2b2b2;  margin: 0 7px; border-bottom: 1px solid #b2b2b2; margin: -1px 0 0px; padding: 20px 0 20px 0;}
.jump_man {padding:0 0 0 2px !important;}
.jump_man img{border-radius:10px; }
.jumb_btn ion-button {padding: 1px 0px!important; width: 161px; margin: 14px 0 0;  height: 48px; }
.jumb_btn {margin:6px 0 30px; display: inline-block; float: right; }

.star_streak {padding: 0 12px; }
.star_streak h3{font-size:24px; margin: 0px; padding: 0px; font-weight:bold;}
.star_streak p{font-size:18px; margin: 0px; padding: 30px 0 20px; font-weight:400; line-height: 23px;}
.star_streak a{border: 1px solid #b2b2b2; color: #333; text-decoration: none; border-radius: 50px; padding: 6px 40px; display: inline-block; margin: 10px 0 0; font-weight: 500; }
.star_streak span {float: right; font-size: 12px; color: #b2b2b2; padding: 21px 0 0; }

.star_streak_img h3{font-size:24px; margin: 0px; padding: 10px 20px 5px; font-weight:bold;}
.star_streak_img p{font-size:18px; margin: 0px; padding: 5px 20px 15px; font-weight:400; line-height: 23px;}
.star_streak_img a{border: 1px solid #b2b2b2; color: #333; text-decoration: none; border-radius: 50px; padding: 6px 40px; display: inline-block; margin: 10px 0 0; font-weight: 500; margin-right: 15px;}
.m_left {margin-left: 20px!important; }
.star_streak_img a:hover{background:#e34b00; border:1px solid #e34b00; color:#FFF; }
.bonus a{background:#e34b00; color:#FFF; border:1px solid #e34b00; margin-left: 20px;}

ion-label { font-size: 20px; font-weight: 500; padding: 0 0 10px 20px; text-transform: capitalize; letter-spacing: 0.6px; }

.thumnails{
    overflow-x: scroll;
    overflow-y: hidden;
    .list-thumbnail{
      height: 100%;
      white-space: nowrap;
      .img-thumb{
        display: inline-block;
        width: 250px;
      }      
    }
  }
  .featuredcards .thumnails{
    .list-thumbnail{
      .img-thumb{
        width: 200px;
      }     
    }
  }

  ::-webkit-scrollbar { 
    display: none; 
  }


  .campaignSection .smallImg {
    width: 90%!important;
    min-height: 130px!important;
    max-height: 130px!important;
    border-radius: 8px!important;
    margin: 0 0px;
    overflow: hidden;
    }  

.product_image {
  padding: 13px 0 0;
}

/*****Css Accordian*******/
.css-accord {
  position: relative;
}

input#chck1 {
  position: absolute;
  right: 5px;
  top: 14px;
  z-index: 999;
  width: 180px;
  height: 44px;
  opacity: 0;
  display: none;
}

.css-accord .rewards_button > span {
  position: absolute;
  width: auto;
  right: 5px;
  padding: 0.5em 1.2em 0.5em 1.2em !important;
}

.range_slide {
  width: 100%;
  display: block;
}

.rewards_button .reward_drop_data {
  max-height: 0px;
  overflow: hidden;
  padding: 0 12px;
  transition: all ease 0.35s;
  clear: both;
}

input#chck1:checked + .rewards_button .reward_drop_data {
  max-height: 100vh;
  padding: 0px 12px 0px;
  transition: all ease 0.5s;
  margin: 0px 0px 0px;
  display: inline-block;
  width: 100%;
}

.rewards_option {
  width: auto;
  text-align: center;
  clear: both;
}

.range_slide ion-range{
  width: 100%;
}
.css-accord .reward_drop_data h3 {
  margin: 20px 0 0;
}
.rewards_button span ion-icon {
  transition: all ease 0.5s;
  }


.range-tick {
  top: 16px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.css-accord .rewards_button > .reward_drop_data > p > span.rewards_img {
  min-width: 80px;
  text-align: right;
  width: 80px;
}

.css-accord .rewards_button > .reward_drop_data > p > span.rewards_text {
  width: unset ;
  font-size: 14px ;
  text-align: left;
}


// 

/*------------custom_range----------------*/

.custom_range {
  width: 98%;
  height: 3px;
  background: #a1a0a0;
  margin: 20px auto;
  border-radius: 50px;
  position: absolute;
  top: 148px;
}

.custom_range_green{
  height: 3px;
  background: #61bd1e;
  margin: 20px auto;
  border-radius: 50px;
  position: absolute;
  top: 148px;
}
.green_1{
  width: 10%;  
}

.green_2{
  width: 28.5%;  
}

.green_3{
  width: 47.5%;  
}

.green_4{
  width: 66.5%;  
}
.green_5{
  width: 100%;  
}

.animate_box {
  text-align: center;
  width: 19%;
  position: static;
  z-index: 2;
  margin: 29px 0px 0 0px;
  float: left;
  cursor: pointer;
}

.animate_box .apend{
  vertical-align: top;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  right: 0;
  left: 0;
  bottom: 0px;
  background: #edebe7;
  padding: 5px 10px 10px;
  font-size: 14px;
  opacity: 0;
  color: #FFF;
  border-radius: 10px;
  border: 0px;
  line-height: 18px;

  }


.animate_box img {
  padding: 8px 0px 0px 9px;
  position: relative;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFF;
  margin: 0 auto;
  padding: 0px 0 0 0;
  border: 2px solid #a1a0a0;

}






.circle p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  padding: 23px 10px;
  line-height: 13px;
}

.box_2 {
  margin: 7px 0 0!important;
}

.box_2 .circle{
  background: #FFF;
  // border:1px solid #ccc;
}

.box_2 a{
  background: #FFF;
  border:2px solid #a1a0a0;
}

.animate_box.activeReward .circle{
  background: #61bd1e;
  border:2px solid #61bd1e;
}
.animate_box.activeReward p{
  color:#FFF!important;
}

.box_3 a{
  background: #FFF;
}


.box_4{
   margin: 7px 0 0!important;
}
.box_4 .circle{
  background: #FFF;
}

.box_4 a{
  background: #a4c1b7;
}


.box_5{
   margin: 29px 0px 0 !important;
}
.box_5 .circle{
  background: #FFF;  
}

.box_5 a{
  background: #f05a5b;
}

.margn_top {
  margin: 0px 0 0;
}

.highClass .apend{
  opacity: 1;
}
.highClass .circle{
  border: none;
  background: #a1a0a0;
}
.highClass .circle p{
  color:#fff;
}

.product_detail p span {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #e34b00;
}

.reward_icon {
    width: 20px;
    padding: 0 0 0 0px;
    margin: 0 0 0 5px;
    position: relative;
    top: -39px;
    right: -29px;
}

.rewards_option h5 {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.rewards_button {
    margin: 0px 0 0;
}

.animate_box span {
    padding: 0 10px 0 0;
    color: #000;
    font-size: 15px!important;
    font-weight: 600;
    position: relative;
    top: -3px;
}

img.reward-ic {
    position: relative;
    top: 4px;
}

.apend h6{
    font-size: 13px;
    margin: 0;
    padding: 10px 0 10px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.apend h5{
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    line-height: 19px;
}

.fab_button{
  width: 160px;
  font-family: 'CenturyGothic';
  border-radius: none;
  --border-radius: 50px;
  height: 48px;
  font-size: 15px;
  font-weight: 500;
}

.apend ion-icon {
    padding: 0 5px 0 0;
    vertical-align: text-bottom;
    font-size: 16px;
}

.orangeRoundBtn{
    border-radius: 50px !important;
    background: #e16501 !important;
    text-align: center;
}

.home_detail {
    margin: 20px 0 0;
    float: right;
}


.circle-pg-cus {
  width: 280px;
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

p.rewardValIcon {
  margin: 0 auto;
  margin-top: 10px;
  font-size: 20px;
  padding: 9px 0;
  vertical-align: middle;
  border-radius: 4px;
  color: #fff;
}
p.rewardValIcon.makeGreen{
  background: #62b208; 
}
p.rewardValIcon.makeOrange{
  background: #e34b00; 
}

.swiper-slide h6 {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size:14px;
}

.swiper-slide h5 {
  margin-top: 0;
  font-size:16px;
  font-weight:600;
}

.rewardValIcon ion-icon{
  position: relative;
  top:3px;
}

.rewardDetails{
  font-size: 36px;
  background: #ff7226;
  border-radius: 50%;
  color:#fff;
  position: absolute;
  right: 20px;
  top:10px;
}

#cart-badge {
  position: absolute;
  top: 0px;
  padding: 5PX;
  right: -7px;
  font-size: 12px;
  border-radius: 50%;
  min-width: 21px;
  min-height: 21px;
}
.cartBadgeRound{
  position: absolute;
  top: 0px;
  padding: 5PX;
  right: -7px;
  font-size: 12px;
  border-radius: 50%;
  min-width: 21px;
  min-height: 21px;     
}
.padding-right{
  padding-right:12px;
}