<!-- App Header -->
<app-header></app-header>
<!-- App Header -->
<ion-content>
 <!--  -->
<div [hidden]="!showpayment">
		<ion-toolbar>
				<ion-title>Card Details</ion-title>
		 </ion-toolbar>
		<form action="/" method="post" id="payment-form" class="lr_pading">
			<ion-item *ngIf="customerdata?.customer.FirstName">
				<ion-label>{{customerdata?.customer.FirstName}}</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item *ngIf="customerdata?.customer.EMailAddress">
				<ion-label>{{customerdata?.customer.EMailAddress}}</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item *ngIf="customerdata?.customer.PhoneNumber">
				<ion-label>{{customerdata?.customer.PhoneNumber}}</ion-label>
				<ion-input></ion-input>
			</ion-item>

				<div class="form-row">
					<div id="wallet-card-element">
						<!-- a Stripe Element will be inserted here. -->
					</div>
		
					<!-- Used to display Element errors -->
					<div id="card-errors" role="alert"></div>
				</div>
		
				<ion-button color="primary" (click) = "makePayment(clientSecret)" expand="full" full shape="round" class="rifil_pay">Pay $<span *ngIf="addAmount">{{addAmount}}</span></ion-button>
			</form>
	</div>
	<!--  -->
	<!-- showspinner Lines -->
	<ion-item *ngIf="showspinner">
		<ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
	</ion-item>
	
	<!-- Success Payment -->
	<div *ngIf="showsuccess" class="centerContent">
    <div class="centerContent">
        <ion-icon name="checkmark-circle-outline" class="centerContent" color="success" style="font-size: 150px; display: block;" ></ion-icon>
        <ion-label>Amount Added Successfully</ion-label>
        <p>Wallet Balance: <ion-label *ngIf="totalAmount" color="success">${{totalAmount}}</ion-label></p>
        

    </div>

		<!-- Skeleton screen -->
		<div *ngIf="!showsuccess">
			<div class="ion-padding custom-skeleton">
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
			</div>
			
			<ion-list>
				<ion-list-header>
				<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
				</ion-list-header>
				<ion-item>
				<ion-avatar slot="start">
					<ion-skeleton-text animated></ion-skeleton-text>
				</ion-avatar>
				<ion-label>
					<h3>
					<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
					</h3>
					<p>
					<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
					</p>
					<p>
					<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
					</p>
				</ion-label>
				</ion-item>		  
			</ion-list>
	  </div>
	</div>	
	<!-- END success Payment --> 
</ion-content>
<!-- App tabs -->
<app-tabs></app-tabs>
<!-- App tabs-->