
.documnets h2{
	margin: 0;
    padding: 10px 0 20px;
}

.documnets h3{  
    line-height: 27px;
    margin: 0;
    padding: 0px 0 10px;
    text-transform: capitalize;
}

.force-overflow{
	border-radius: 6px;
	margin: 0 0 20px;
}

.description-text p {
    font-size: 15px;
    line-height: 28px;
    margin: 0;
}

.documnets .waiver-description {
    margin-top: 10px;
}

.term-condition ion-label {
    font-weight: 600;
    font-size: 13px;
    float: left;
    width: 92%;
    padding: 0 0 0 17px;
    line-height: 23px;
}

.term-condition ion-checkbox {
    float: left;
}

.term-condition {
    padding-top: 0px;
    display: inline-block;
    padding: 0 0 10px;
}

button.button.btn-green {
    font-size: 14px;
    width: 160px;
    padding: 16px 0;
    float: left;
     margin: 0px 0px 0px 0px;
}

button.button.btn-orange {
    font-size: 16px;
    width: 160px;
    padding: 16px 0px;
    float: left;
    margin: 0px 0px 0px 10px;
    background: #e16501;
}

