<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
<div class="screen-wrapper tiles-page">
  <div class="inner-pages">
    <div class="content-inner-custom waiver-expire documnets">
      <div class="container">
        <h2 class="top_heading">ACCEPTANCE PAGE</h2>

        <h3>PARTICIPATION AGREEMENT, INDEMNIFICATION, </h3>
        <h3>WAIVER AND LIABILITY RELEASE, AND ASSUMPTION OF RISK</h3>
       

        <div class="waiver-description">
          <div class="description-text">
            <div class="force-overflow">
              <div [innerHTML]="waiverText"></div>
            </div>
          </div>
          
    			<form [formGroup]="formGroup" (ngSubmit) = "submitForm(formGroup.value)" >
              <div class="term-condition">
                <ion-checkbox formControlName = "certify" color="primary"> </ion-checkbox>
                <ion-label> I certify that I am the parent or legal guardian of the above minor(s)</ion-label>
              </div>
              <div class="term-condition">
                  <ion-checkbox color="primary" formControlName = "terms"> </ion-checkbox>
                <ion-label> I agree to the terms of the above agreement </ion-label>
              </div>

              <div class="button-waiver-document row centerThis">
                <div>
                  <ion-button class="button btn-green" color="secondary" shape="round" [disabled]="formGroup.invalid" type="submit">Submit the Waiver</ion-button>
                </div>
              </div>
    		  </form>

          
          
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>

