.lt_pading form {
    padding: 0 20px;
    background: #FFF;
    display: inline-block;
    width: 100%;
}


.pay_money {
    border-radius: 50px;
    display: block;
    width: 150px;
    margin: 20px auto;
}

.ElementsApp>*{
	border: 1px solid #b2b2b2;
}


.Acount_blnc {
    margin: 7px 0 0;
}

.Acount_blnc h4 {
    text-align: center;
    font-size: 18px;
    padding: 3px 3px 10px;
    color: #000;
    margin: 0;
    // font-weight: 600;
    display: inline-block;
}

.amunt h4 {
    text-align: right;
    font-size: 18px;
    padding: 10px 10px;
    color: #000;
    // font-weight:700;
    margin: 0;
}

.amunt h5 {
    text-align: right;
    font-size: 16px;
    padding: 2px 10px;
    color: #000;
    // font-weight:700;
    margin: 0;
}


.Acount_blnc ion-checkbox {
    float: left;
    margin: 0 7px 0 3px;
}

.cupn_code {
    font-size: 21px;
    margin: 0;
    padding: 10px 0 10px;
    // font-weight: 600;
}

.centerContent{
    padding: 20px 0 0 0;    
}

.centerContent ion-card{
    padding: 30px 0;
}

.Acount_blnc p {
    margin: 0;
    padding: 0 0 0 40px;
    font-size: 18px;
    text-transform: capitalize;
}

.payable h4{
    margin: 0;
    padding: 0 0 0 40px;
    font-size: 18px;
    // font-weight: 600;
    text-transform: capitalize;
}


.payable_amount h5{
    text-align: right;
    font-size: 16px;
    padding: 2px 10px;
    color: #000;
    // font-weight: 700;
    margin: 0;
}


.inner-pages ion-toolbar {
    margin: 10px 0 0;
}

.orangeRoundBtn{
    border-radius: 50px !important;
    background: #e16501 !important;
    text-align: center;
    width: 180px;
    margin: 10px auto;
}

