<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages lt_pading">
			<div [hidden]="!showpayment">
				<ion-row>
					<ion-col size="8" size-sm="8" size-md="8" size-lg="8" class="textRight">
						<div class="Acount_blnc">
							<ion-checkbox *ngIf="walletBalance > 0" (ionChange)="refillCheck($event)" ></ion-checkbox>
							<!-- <ion-toggle [(ngModel)]="checkRefill" (ionChange)="redeemToggle($event)" color="success"></ion-toggle> -->
							<h4 *ngIf="walletBalance > 0"> Wallet Balance:</h4> 
							<p>Total Amount</p>
						</div>
					</ion-col>
					<ion-col size="4" size-sm="4" size-md="4" size-lg="4">
						<div class="amunt"><h4  *ngIf="walletBalance > 0">${{walletBalance | number:'1.2-2'}}</h4><h5>${{planPrice}}</h5></div>
					</ion-col>


					<ion-col size="8" size-sm="8" size-md="8" size-lg="8" class="textRight">
						<div class="payable">			
						<h4>Amount due</h4> 
						</div></ion-col>
					<ion-col size="4" size-sm="4" size-md="4" size-lg="4">
						<div class="payable_amount"><h5>${{amountDue}}</h5></div>
					</ion-col>

					
					<ion-col class="centerContent">
						<div [hidden]="ifStripe">
						<ion-button class="orangeRoundBtn" shape="round" color="orgbtn" (click) = "doTransac(clientSecret,'full')">Pay With Wallet</ion-button>
						</div>
					</ion-col>	

				</ion-row>
				<div [hidden]="!ifStripe">
					<ion-toolbar>
						<ion-title>Card Details</ion-title>
					</ion-toolbar>
					<form action="/" method="post" id="payment-form">
						<ion-item *ngIf="customerdata?.customer.FirstName">
							<ion-label>{{customerdata?.customer.FirstName}}</ion-label>
							<ion-input></ion-input>
						</ion-item>
						<ion-item *ngIf="customerdata?.customer.EMailAddress">
							<ion-label>{{customerdata?.customer.EMailAddress}}</ion-label>
							<ion-input></ion-input>
						</ion-item>
						<ion-item *ngIf="customerdata?.customer.PhoneNumber">
							<ion-label>{{customerdata?.customer.PhoneNumber}}</ion-label>
							<ion-input></ion-input>
						</ion-item>
						
						<div class="form-row">
							<div id="promotion-card-element">
								<!-- a Stripe Element will be inserted here. -->
							</div>						
							<!-- Used to display Element errors -->
							<div id="card-errors" role="alert"></div>
						</div>
				
					<ion-button class="orangeRoundBtn" shape="round" color="orgbtn" (click) = "makePayment(clientSecret)" expand="full">Pay ${{amountDue}}</ion-button>

				</form>
			</div>
		</div>
		<!-- showspinner Lines -->
		<ion-item *ngIf="showspinner">
			<ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
		</ion-item>
		<!-- Success Payment -->
		<div *ngIf="showsuccess"  class="centerContent" >

				<ion-card *ngIf="qrcodeImg">
					<ion-img style="width: 180px; height: 180px; margin:0 auto;" *ngIf="qrcodeImg" [src]="qrcodeImg"></ion-img> 
					<ion-card-content class="paddingTopbottom">
						<ion-item *ngFor="let singlecoupon of allcoupons; let i=index">
							<ion-row>
								<!-- <ion-col *ngIf="allData?.image" size="12" size-sm="12" size-md="12" size-lg="12"><ion-img [src]="allData?.image"></ion-img></ion-col> -->
							
								<ion-col size="4" size-sm="4" size-md="4" size-lg="4"><strong>Expiry Date:</strong></ion-col>
								<ion-col size="8" size-sm="8" size-md="8" size-lg="8" class="textRight">{{singlecoupon.expire_date}}</ion-col>	
							
								<ion-col size="4" size-sm="4" size-md="4" size-lg="4"><strong>Coupon Code:</strong></ion-col>
								<ion-col size="8" size-sm="8" size-md="8" size-lg="8" class="textRight">{{singlecoupon.coupon}}</ion-col>	


								<ion-col size="4" size-sm="4" size-md="4" size-lg="4"><strong>Package Name:</strong></ion-col>
								<ion-col size="8" size-sm="8" size-md="8" size-lg="8" class="textRight">{{singlecoupon?.package_name}}</ion-col>
							
								<ion-col size="4" size-sm="4" size-md="4" size-lg="4"><strong>Amount:</strong></ion-col>
								<ion-col size="8" size-sm="8" size-md="8" size-lg="8" class="textRight">${{singlecoupon?.amount}}</ion-col>					
								
							</ion-row>
						</ion-item>
					</ion-card-content>
				</ion-card>
		
				<!-- Skeleton screen -->
				<div *ngIf="!qrcodeImg">
					<div class="ion-padding custom-skeleton">
						<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
						<ion-skeleton-text animated></ion-skeleton-text>
						<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
						<ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
						<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
					</div>
				
					<ion-list>
						<ion-list-header>
						<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
						</ion-list-header>
						<ion-item>
						<ion-avatar slot="start">
							<ion-skeleton-text animated></ion-skeleton-text>
						</ion-avatar>
						<ion-label>
							<h3>
							<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
							</h3>
							<p>
							<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
							</p>
							<p>
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
							</p>
						</ion-label>
						</ion-item>		  
					</ion-list>
				</div>
			</div>		
			<!-- END success Payment -->
		<!-------end-screen-wrapper------->		
		</div>
	
	</div>
		

</ion-content>

<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->