<!-- App Header -->
<app-header></app-header>
<!-- App Header -->
<ion-content>
  <div class="screen-wrapper tiles-page">
    <div class="inner-pages">
      <div class="content-inner-custom membership-select-page">
        <ion-item>
          <div slot="start" class="know_more"><h3>Want to know more </h3></div>
          <ion-button class="centerThis upldBtn verticalMiddle upldCam orangeRoundBtn" slot='end' color="orgbtn" [routerLink]="['/reward-details/passes']">Details</ion-button>
        </ion-item> 
        <div class="container">
          <!-- Skeleton screen -->
          <div *ngIf="!membershipPlan">
              <ion-list>
                <ion-list-header>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                </ion-list-header>
                <ion-item>
                  <ion-thumbnail slot="start" style="width: 100%">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-thumbnail slot="start" style="width: 100%">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>		  
              </ion-list>
              <div class="ion-padding custom-skeleton">
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </div>
            </div>	
          <!-- Skeleton screen -->
          <!-- <ion-card *ngIf="membershipPlan" class="centerThis card_pading">
            <ion-card-header>
              <ion-card-title class="make_select">Make your selection:</ion-card-title>
            </ion-card-header>
          
            <ion-card-content no-padding>
                <div class="membership-plan">
                  <ion-grid>
                    <ion-row>
                      <div class="membership_plan">
                        <ion-segment color="secondary" (ionChange)="segmentChanged($event)" class="select_options" [(ngModel)]="selectedPass" scrollable>
                          <ion-segment-button class="pases_box" *ngFor="let plan of membershipPlan" color="primary" value="{{plan.product_id}}">                            
                            <img src="../assets/images/jumping-graident-icon.png" class="normal centerThis">
                            <img class="selected-im centerThis" src="../assets/images/jumping-white-icon.png" alt="" />
                            <ion-label>{{plan.membership_name}} - ${{plan.m_price}}</ion-label>
                          </ion-segment-button>
                        </ion-segment>
                    </div>
                  </ion-row>
                </ion-grid>                
              </div> 
            </ion-card-content>
          </ion-card> -->
          <!-- MemberShip -->
          <ion-row class="prepassMembershipList" *ngIf="membershipPlan">
            <ion-col *ngFor="let plan of membershipPlan">
              <div class="col-sm-6 col-xs-6 text-center" >
                <div class="select-mebership-option">
                  <input (change)="onItemChange($event.target.checked, plan.product_id)" type="radio" [(ngModel)]='radioItem' value="{{plan.product_id}}" >

                  <div class="mebership-option-inner">
                    <div class="icons-plans">
                      <img class="normal" src="../assets/images/jumping-graident-icon.png" alt="" />
                      <img class="selected-im" src="../assets/images/jumping-white-icon.png" alt="" />
                    </div>
                    <h4>{{plan.membership_name}} - ${{plan.m_price}}</h4>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <!-- End MemberShip -->
          <div class="next-btn">
            <ion-button color='secondary' [disabled]="!localProductId" shape="round" routerLink="/membership/members-info" type="submit">Next  <img class="left5px" src="assets/images/next-arrow.png" alt="" /></ion-button>
          </div>

          <!--  -->
          <ion-list margin-top *ngIf="noPasses">
            <ion-item><ion-text>There are no active passes</ion-text></ion-item>
          </ion-list>
          <ion-list margin-top *ngIf="passesSummary" class="current-pass">
            <ion-list-header (click)="expanded = !expanded" class="passHeader">
              <ion-item class="transparentItem" color="transparent"> 
                <h3 class="initiaCase">Current Passes</h3>
                <ion-icon name="arrow-dropdown-circle" slot="end" color="light"></ion-icon>
              </ion-item>
            </ion-list-header>    
            
            <div *ngIf="expanded == true" class="upload_imges">
              <ion-item *ngFor="let pass of passesSummary; let i = index">
                <ion-thumbnail *ngIf="!pass.profile_pic" slot="start">
                  <ion-skeleton-text></ion-skeleton-text>
                </ion-thumbnail>
                <ion-avatar *ngIf="pass.profile_pic" slot="start" class="avatarSec">
                  <img class="profileImg" src="{{pass.profile_pic}}?time={{getTimeStamp()}}">
                </ion-avatar>
                <ion-label>
                  <h2>{{pass.name}}</h2>
                  <h3>{{pass.membership_name}}</h3>
                  <p><strong>Expiry Date: </strong>{{pass.expire_date}}</p>
                  <img class="passQrImg" src="{{pass.qrcode_img}}?time={{getTimeStamp()}}">
                  <div *ngIf="!pass.profile_pic_exists" >
                  <!-- <div> -->
                      <ion-button class="centerThis upldBtn upldCam orangeRoundBtn" color="orgbtn" (click)="uploadActionSheet(pass.customer_id, i)">Upload Image</ion-button>
                  </div>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>                    
        </div>
      </div>
    </div>
   
  </div>
  
</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->
