span.childtg {
   font-size: 15px;
   width: 100%;
   display: block;
   padding: 10px;
   background: #ffe3d8;
   text-transform: uppercase;
   font-weight: 600;
   font-family: 'CenturyGothic';
}

span.childtg span {
   color: #e44b10;
}

.membership_plan ion-col.hydrated .select-mebership-option {
   margin: 5px 0;
}

.membership_plan ion-col.hydrated .select-mebership-option h4 {
   margin: 0;
}

.membership_plan .icons-plans img {
   max-width: 60px;
}
.membership_plan .icons-plans .profileImg {
   max-width: 60px;
}

.passQrImg{
   max-width: 144px;
}
.membership_plan {
   width: 100%;
display: block;
}

.membership_plan ion-col.hydrated {
   width: 50%;
   float: left;
}

/*.orange_btn{
  background: #e16501 !important;
  width: 170px !important;
  padding: 13px 0!important;
  border: 1px solid #e16501!important;
  text-align: center;
}*/

.select_options ion-segment-button{
  padding: 10px;
  max-width:190px;
}
.select_options img{
  display: block;
  width: 100%;
  max-width: 75px;
}

ion-segment-button .selected-im{
  display: none;
}

ion-segment-button.segment-button-checked .normal{
  display: none;
  
}
ion-segment-button.segment-button-checked .selected-im{
  display: block;
}
.upldBtn{
  margin: 4px auto;
  font-size: 16px;
  display: inline-block;
}
.upldCam{
  margin-right: 10px;
}

.avatarSec{
  width: 70px;
  height: auto;
}
.initiaCase{
   text-transform: capitalize;
   color: #fff;
   font-size: 15px;
   margin: 0;
   padding: 0;
   font-weight: 600;
}


.verticalMiddle{
  width: 100px;
  height: 40px;
  font-size: 16px;
  vertical-align: middle;
}
.passHeader{
  background: #1a252f;
}
.transparentItem{
  background-color: transparent;
  width:100%;
}
.transparentItem item-native{
  background-color: transparent;
}


.know_more h3 {
 font-size: 20px;
 margin: 0;
 padding: 0;
 font-weight: 600;
 color: #333;
}

.orange_btn{
   background: #e16501 !important;
   padding: 13px 40px !important;
   border: 1px solid #e16501 !important;
   text-align: center;
   font-size: 16px;
   color: #FFF;
   margin: 10px 0 0;
   border-radius: 50px;
}

.make_select {
   font-size: 20px;
   color: #333;
   margin: 0;
   padding: 0;
   font-family: 'CenturyGothic';
}

.pases_box ion-label {
   font-size: 14px;
   font-weight: 600;
   padding: 8px 0 0;
}

.card_pading{
   margin: 20px 0 10px;
   padding: 5px 0px 30px;
}

.current-pass {
   border-radius: 3px;
   padding: 0px 0;
}

.orangeRoundBtn{
   border-radius: 50px!important;
   background: #e16501 !important;
   text-align: center;
}
.prepassMembershipList .mebership-option-inner {
    padding: 20px; 
}

.prepassMembershipList .mebership-option-inner {
   border: 2px solid #62b208;
}
.prepassMembershipList .select-mebership-option input:checked ~ .mebership-option-inner {
   background-color: #62b208;
}