.ad_mny {
	display: block;
    width: 150px;
    margin: 20px auto;
    font-size: 16px;
    padding: 0px 0px;
    font-family: 'CenturyGothic';
    font-weight: 600;
}

.badge_circle {
    border-radius: 50PX;
    font-size: 17px;
    text-align: center;
    font-family: 'CenturyGothic';
    float: right;
}

.card_title{
    font-family: 'CenturyGothic';
    font-size:20px;
}

.sub_title{
    font-family: 'CenturyGothic';
    font-size:13px;
}

.sub_badge {
    font-size: 12px;
    position: relative;
    top: 6px;
    padding: 5px 14px;
}

/*.btns ion-button {
    height: 32px;
    font-size: 14px;
    font-family: 'CenturyGothic';
    font-weight: 500;
    margin: 0 auto;
    border: 2px solid #989aa2 !important;
    border-radius: 5px;
}
*/

.mid-img {
    max-width: 220px;
}

.ion-color-primary{
    --ion-color-base: var(--ion-color-primary, #3880ff) !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56,128,255) !important;
    --ion-color-contrast: var(--ion-color-primary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: #f04141 !important;
    --ion-color-tint: #f14141 !important;
}

.fab_button{
    width: 180px;
    font-family: 'CenturyGothic';
    --border-radius: 50px;
    height: 48px;
    font-size: 15px;
    font-weight: 500;
}
.fab_button.fabSmall{
    width:100px;
}
.walletIcon{
    margin: 10px auto;
}
.addPageSeg{
    width: 50%;
}
.marginFive{
    margin: 5px;
}

.user_welcome h3 {font-size: 22px; margin: 0; padding: 0; color: #2f2f2f; font-weight: bold; }
.user_welcome {padding: 15px 0px; background: #FFF; box-shadow: 1px 1px 10px #dcdcdc; width: 100%; margin: 0 auto; text-align: center; }
.user_welcome span {color: #e34b00; font-size: 24px; }
.bottomMargin{
    margin-bottom: 100px;
}

.verticalMiddle{
    vertical-align: middle;
}

.dollarAmntBtn{
   width:64px;
   height: 32px;
   font-size: 14px;
   font-family: 'CenturyGothic';
   font-weight: 500;
   margin: 0 auto;
   border-radius: 5px;
}

.addMoneySeg {
    padding: 6px 0px;
}

.addGiftCouponSeg{
    padding: 6px 0px;
}

.lr_pading{
    padding:0 10px 6px;
}

.orangeRoundBtn{
    border-radius: 50px !important;
    background: #e16501 !important;
    text-align: center;
    padding: 0 13px;
    margin: 10px auto;
}

.add_btns {
    text-align: center;
}

.know_more h3{
    font-size: 19px;
    margin: 0;
    padding: 20px 10px 0;
    font-weight: 600;
    color: #333;
}
.font18{
    font-size: 18px;
}