<!-- Back button with a default href -->
<ion-header>
    <ion-toolbar color="primary" class="headerSec">
      <ion-buttons slot="start">
		<ion-back-button defaultHref="rewards-home" [text]="''"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/rewards-home">
	      <ion-icon slot="icon-only" name="home"></ion-icon>
	    </ion-button>            
      </ion-buttons>
      <ion-title>
       <img alt="logo" class="appLogo" style="text-align:center;"  src="../assets/images/rockin-jump-logo.png" > 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<!-- Back button with a default href -->


<ion-content>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button class="fab_button" color="secondary" [routerLink]="['/wallet/paywith-wallet']" full >Pay with Wallet</ion-fab-button>		
	</ion-fab>
	<!-- <ion-fab vertical="top" horizontal="top" slot="fixed">
			<ion-fab-button class="fab_button fabSmall" color="medium" [routerLink]="['/reward-details/wallet']" full >Details</ion-fab-button>
	</ion-fab> -->
	<div class="screen-wrapper tiles-page">
		<!-- Skeleton screen -->
		<div *ngIf="!showAddAmount">
			<ion-list>
				<ion-list-header>
				<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
				</ion-list-header>
				<ion-item>
					<ion-thumbnail slot="start" style="width: 100%">
						<ion-skeleton-text animated></ion-skeleton-text>
					</ion-thumbnail>
					<ion-thumbnail slot="start" style="width: 100%">
						<ion-skeleton-text animated></ion-skeleton-text>
					</ion-thumbnail>
					<ion-label>
						<h3>
						<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
						</h3>
						<p>
						<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
						</p>
						<p>
						<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
						</p>
					</ion-label>
				</ion-item>		  
			</ion-list>
			<div class="ion-padding custom-skeleton">
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
				<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
			</div>
		</div>	
		<!-- Skeleton screen -->
		
		<ion-card *ngIf="showAddAmount" class="marginFive">
		  	<ion-card-header>
		    	<ion-card-title class="card_title">Wallet Balance<ion-badge class="badge_circle" color="secondary"><ion-icon name="logo-usd"></ion-icon>{{walletBalance | number:'1.2-2'}}</ion-badge></ion-card-title>
			</ion-card-header>

			<ion-img class="centerContent mid-img walletIcon" margin src='../assets/images/wallet_icon.png'></ion-img>

			<!-- Segment with default selection -->
			
			<ion-segment value="cardMoney" color="secondary" [(ngModel)]="activeSeg" class="lr_pading">
				<ion-segment-button class="addMoneySeg addPageSeg" value="cardMoney">
				<ion-icon name="cash"></ion-icon>
				<ion-label>Add Money</ion-label>
				</ion-segment-button>
				<ion-segment-button value="giftCard" class="addGiftCouponSeg addPageSeg">
				<ion-icon name="gift"></ion-icon>
				<ion-label>Redeem Gift Coupon</ion-label>
				</ion-segment-button>
			</ion-segment>

			<!-- Add Money -->
			<div *ngIf="activeSeg == 'cardMoney'" class="add_btns">	
				<ion-item class="btns">
					<ion-button *ngIf="walletBalance <= 490" (click)="addAmount(10)"  class="dollarAmntBtn">+$10</ion-button>
					<ion-button *ngIf="walletBalance <= 450" (click)="addAmount(50)"   class="dollarAmntBtn">+$50</ion-button>
					<ion-button *ngIf="walletBalance <= 400" (click)="addAmount(100)"  class="dollarAmntBtn">+$100</ion-button>
					<ion-button *ngIf="walletBalance <= 250" (click)="addAmount(250)"  class="dollarAmntBtn">+$250</ion-button>
					<ion-button *ngIf="walletBalance <= 0" (click)="addAmount(500)"  class="dollarAmntBtn">+$500</ion-button>
					<!-- </ion-item> -->
				</ion-item>
				<div *ngIf="!walletOverflow">
					<ion-item>
						<ion-label position="floating">Add Amount</ion-label>
						<ion-input type="number" (input)='onInputTime($event.target.value)' value="{{totalamount}}" [(ngModel)]='totalamount' clearInput maxlength="3"></ion-input>
					</ion-item>
					<ion-item *ngIf="maxAmountEr"><ion-label color="danger" >Amount can't be over $500</ion-label></ion-item>
					<ion-item *ngIf="maxWalletEr"><ion-label color="danger" >Wallet amount cannot exceed ${{canAddUpto}}</ion-label></ion-item>
					<ion-button class="orangeRoundBtn" color="orgbtn" shape="round"  [disabled]="!totalamount"  (click)="makePayment(totalamount)" ><ion-icon name="logo-usd" slot="start"></ion-icon>Add</ion-button>
	
					<div *ngIf="!showAddAmount && walletBalance" class="centerContent">
						<ion-text class="card_title">Wallet Balance<ion-badge class="badge_circle" color="secondary"><ion-icon name="logo-usd"></ion-icon>{{walletBalance}}</ion-badge></ion-text>
						<p color="danger">Can't hold more then $500 in Wallet</p>
					</div>
				</div>
				<div *ngIf="walletOverflow">
					<ion-list>
						<ion-item>
							<ion-label>Wallet Balance</ion-label>
							<ion-note slot="end" color="secondary" class="font18"><ion-icon name="logo-usd"></ion-icon>{{walletBalance}}</ion-note>
						</ion-item>
					</ion-list>
					<ion-item>
						<ion-text color="danger">Can't add more then $500.</ion-text>
					</ion-item>
				</div>
				
			</div>	
			<!-- End Add Money -->

			<!-- Add Money -->
			<div *ngIf="activeSeg == 'giftCard'" class="add_btns">	
				<ion-item>
					<ion-label position="floating">Add Gift Coupon Code</ion-label>
					<ion-input type="text" [(ngModel)]='couponCode' clearInput></ion-input>
				</ion-item>
				
				<ion-button class="orangeRoundBtn" color="orgbtn" shape="round" [disabled]="!couponCode"  (click)="submitCoupon(couponCode)" >Redeem</ion-button>

				<div *ngIf="!showAddAmount && walletBalance" class="centerContent">
					<ion-text class="card_title">Wallet Balance<ion-badge class="badge_circle" color="secondary"><ion-icon name="logo-usd"></ion-icon>{{walletBalance}}</ion-badge></ion-text>
					<ion-text>Can't hold more then $500 in Wallet</ion-text>
				</div>
			</div>	
			<!-- End Add Money -->
		</ion-card>
	
		<ion-row class="bottomMargin">
			<ion-col size="7" size-md="7" size-sm="7" size-lg="7">
				<div class="know_more"><h3>Want to know more</h3></div>
			</ion-col>
			<ion-col size="5" size-md="5" size-sm="5" size-lg="5">
			 <ion-button class="orangeRoundBtn" color="orgbtn" shape="round" [routerLink]="['/reward-details/wallet']">Details</ion-button>
			</ion-col>
		</ion-row> 	
	</div>

</ion-content>


<!-- <ion-tabs> -->

<ion-tab-bar slot="bottom">

	<ion-tab-button  routerLink="/campaign-buy">
		<ion-icon  color="primary" name="star"></ion-icon>
		<ion-label color="primary">Promotions</ion-label>
	</ion-tab-button> 

	<ion-tab-button routerLink="/membership/select-prepass">
		<ion-icon color="primary" name="basket"></ion-icon>
		<ion-label color="primary">Passes</ion-label>
	</ion-tab-button>

	<ion-tab-button  routerLink="/add-money">
		<ion-icon  color="primary" name="wallet"></ion-icon>
		<ion-label color="primary">Wallet</ion-label>
	</ion-tab-button>

	<ion-tab-button  routerLink="/all-giftcards">
		<ion-icon  color="primary" name="gift"></ion-icon>
		<ion-label color="primary">Gift Cards</ion-label>
	</ion-tab-button>

	<ion-tab-button  tab="map" routerLink="/order-history/order-list">
		<ion-icon color="primary" name="reorder"></ion-icon>
		<ion-label color="primary">Orders</ion-label>
	</ion-tab-button>

</ion-tab-bar>

<!-- </ion-tabs> -->