.amount-custom-inner{text-align:center;}
.gift_amounts {width: 100%; background:none!important; margin: 20px 0 0; padding: 0; }
.buy_gift{width: 150px; border-radius:50px;display: block; background: #e34b00; margin:30px auto;}
 .orangeRoundBtn{border-radius: 50px !important; background: #e16501 !important; text-align: center; padding: 0 0px; margin: 10px auto; }
.buy-giftcard {text-align: center; }