
<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			<div class="content-inner-custom memeber-information-page">
				<div class="container">
					<h3 class="top_heading">We will be asking for some information before you can buy Pass</h3>
					<div class="waver-sign-up-form order-summary">
						<form [formGroup]="formdata" (ngSubmit) = "submitMembership(formdata.value)" >
							<div class="row">
								<div class="col-md-12"><label>First Name:</label>
									<div class="form-group"><span class="phone-icon"><img src="../assets/images/user-icon.png" alt=""></span>
										<input type="text" formControlName="FirstName" value="" class="form-control input-lg" placeholder="First Name">
									</div>
								</div>

								<div class="col-md-12"><label>Last Name:</label>
									<div class="form-group"><span class="phone-icon"><img src="../assets/images/user-icon.png" alt=""></span>
										<input type="text" formControlName="LastName" value="" class="form-control input-lg" placeholder="Last Name">
									</div>
								</div>
								  
								<div class="col-md-12">
								  	<label>Email:</label>
								  	<div class="form-group">
							  			<span class="phone-icon"><img src="../assets/images/small-grey-envelop.png" alt=""></span>
							  			<input class="form-control" type="text" placeholder="test@gmail.com" formControlName="EMailAddress">
								  	</div>
							  	</div>
								  
								<div class="col-md-12"><label>Mobile No:</label>
								  <div class="form-group">
								  	<span class="phone-icon"><img src="../assets/images/small-gery-phone.png" alt=""></span>
								  	<input class="form-control" id="inputPhone" formControlName="PhoneNumber" required="required"  type="tel" value="">
								  </div>
								</div>
								<!-- showspinner Lines -->
								<ion-item *ngIf="!this.customerdata" lines="none">
									<ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
								</ion-item>  
								<div class="submit-btn col-md-12" *ngIf="this.customerdata?.customer.PhoneNumber">
									<button [disabled]="formdata.invalid" class="orangeRoundBtn" color="secondary" type="submit">Submit</button>
								</div>
								  
							</div>					  
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->
