.select-icon{ height: 27px!important;}
.image_remover{background-image: none; background: #FFF; }
.home_logo {text-align: center; }
.home_logo h3 {font-size: 15px; padding: 10px 40px; }
.shadow_remover {box-shadow: none; border: 0px;padding: 0 0; }
.home_logo img{
    width: 220px; 
}