<ion-content>
<div class="screen-wrapper tiles-page">
  <div class="inner-pages">
    <div class="content-inner-custom memeber-information-page">
      <ion-col size="12" size-md="12" size-sm="12" size-lg="12">
        <div class="home_logo">
          <img src="../assets/images/logo-splash.png" alt="#">
          <h3 class="top_heading">Let’s get you signed up so you can start earning Reward Points with every purchase.</h3>
        </div>
        
      </ion-col>
      <div class="container">
        <div class="waver-sign-up-form order-summary">
          <form [formGroup]="formdata" (ngSubmit) = "submitMembership(formdata.value)" >
            <div class="row">              
              <div class="col-md-12" *ngIf="!showForm">
                <div class="form-group">
                  <!-- UI OPTIONS -->
                  <ion-list *ngIf="allLocations">
                    <ion-item>
                      <ion-label>Rockin' Jump</ion-label>
                      <ion-select (ionChange)="fieldChange($event)" [interfaceOptions]="customPopoverOptions" interface="popover" formControlName="clientLocation" value="{{clientLocation}}" placeholder="Select a location">
                        <ion-select-option *ngFor="let loc of allLocations" value="{{loc.client_id}}">{{loc.location}} </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>
                <!-- END UI OPTIONS -->
                </div>
                <div class="col-md-12"><label>Mobile No:</label>
                  <div class="form-group">
                    <span class="phone-icon"><img src="../assets/images/small-gery-phone.png" alt=""></span>
                    <input class="form-control" id="inputPhoneChk" formControlName="PhoneNumber" required="required"  type="tel" value="">
                  </div>
                </div>
                <div class="submit-btn col-md-12" *ngIf="!showSpinner1">
                  <ion-button [disabled]="!checkValid || formdata.value.PhoneNumber.length <= 6" class="btn btn-lg btn-primary btn-block btn-green" color="secondary" shape="round" (click)="nextForm(formdata.value)">Next</ion-button>
                </div>

                <!-- showspinner Lines -->
                <ion-item *ngIf="showSpinner1">
                  <ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
                </ion-item>
                <!-- End showspinner Lines -->
              </div>

              <div *ngIf="showForm">

                <div class="col-md-12"><label>First Name:</label>
                  <div class="form-group"><span class="phone-icon"><img src="../assets/images/user-icon.png" alt=""></span>
                    <input type="text" formControlName="FirstName" value="" class="form-control input-lg" placeholder="First Name">
                  </div>
                </div>

                

                <div class="col-md-12"><label>Last Name:</label>
                  <div class="form-group"><span class="phone-icon"><img src="../assets/images/user-icon.png" alt=""></span>
                    <input type="text" formControlName="LastName" value="" class="form-control input-lg" placeholder="Last Name">
                  </div>
                </div>
                  
                <div class="col-md-12">
                    <label>Email:</label>
                    <div class="form-group">
                      <span class="phone-icon"><img src="../assets/images/small-grey-envelop.png" alt=""></span>
                      <input class="form-control" type="email" placeholder="Email" formControlName="EMailAddress">
                    </div>
                  </div>
                  
                <div class="col-md-12"><label>Mobile No:</label>
                  <div class="form-group">
                    <span class="phone-icon"><img src="../assets/images/small-gery-phone.png" alt=""></span>
                    <input class="form-control" id="inputPhone" formControlName="PhoneNumber" required="required"  type="tel" value="">
                  </div>
                </div>
                  
                <div class="submit-prv-btn col-md-12" *ngIf="!showSpinner2">
                  <button class="btn btn-lg btn-primary btn-block btn-dull" (click)="prevForm()" type="button">Previous</button>
                  <button [disabled]="formdata.invalid" class="btn btn-lg btn-primary btn-block btn-green" type="submit">Submit</button>
                </div>
                <!-- showspinner Lines -->
                <ion-item *ngIf="showSpinner2">
                  <ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
                </ion-item>
                <!-- End showspinner Lines -->
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

</ion-content>