.reward_select h4 {
    font-size: 17px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding: 20px 0 10px;
    width: 100%;
}
.fab_button{
    width: 180px;
    font-family: 'CenturyGothic';
    --border-radius: 50px;
    height: 48px;
    font-size: 15px;
    font-weight: 500;
  }
 
 .blurredImg{
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }


  .orangeRoundBtn{
    border-radius: 50px !important;
    background: #e16501 !important;
    text-align: center;
    margin: 10px auto;
}
.activeSec button{
    margin:0;
}
.rewardsIonSeg{
  padding: 10px;
}
.rewardsIonSeg ion-label {
  padding: 10px;
  font-size: 16px;
}