<!-- App Header -->
<app-header></app-header>
<!-- App Header -->
<ion-content>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab_button" color="secondary" [routerLink]="['/reward/redeemed']" full >Redeemed Rewards</ion-fab-button>
  </ion-fab> -->

  <!-- Segment with default selection -->
  <ion-segment value="active" color="secondary" [(ngModel)]="activeSeg" class="rewardsIonSeg">
    <ion-segment-button class="activeSec" checked value="redeem" (click)="upadatePoints(activeSeg)">
      <ion-label>Redeem</ion-label>
    </ion-segment-button>
    <ion-segment-button class="activeSec" value="redeemed">
      <ion-label>Redeemed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- Segment with default selection -->

  <ion-card *ngIf="activeSeg == 'redeem'">
    <ion-item>   
      <ion-label>Current Points</ion-label>
      <ion-badge slot="end" *ngIf="rewardPoints">{{rewardPoints}}</ion-badge>
      <ion-spinner class="centerContent" name="lines" *ngIf="!rewardPoints" color="primary"></ion-spinner>
    </ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedReward">
        <ion-list-header class="reward_select">
          <h4>Please Select What You Wish To Redeem</h4>
        </ion-list-header>
        <!-- showspinner Lines -->
        <ion-item *ngIf="!rewardOptions">
          <ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
        </ion-item>
        <!-- Success Payment -->    
        <ion-item *ngFor="let reward of rewardOptions">
          <ion-label>{{reward.rewardName}}</ion-label>
          <ion-badge color="primary" slot="start"><ion-icon name="trophy"></ion-icon> {{reward.rewardValue}}</ion-badge>
          <ion-radio [disabled]="reward.rewardValue > rewardPoints" value="{{reward.inventory_id}},{{reward.rewardValue}},{{reward.price}},{{reward.category_id}},{{reward.gift_card_id}}"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list>
    <ion-row padding margin class="">
      <ion-button (click)="redeemReward()" [disabled]="!selectedReward" color="secondary" full shape="round" class="gc-order-form-bn centerContent">Redeem Reward Points</ion-button>
    </ion-row>
  </ion-card>
  <!-- END Redeem Section  -->
  <!-- Redeemed Section -->
  <!-- Success Payment -->
  <div *ngIf="activeSeg == 'redeemed'">
    <div *ngIf="orders"  class="centerContent" >
      <ion-card *ngFor="let singlecoupon of orders; let i=index" class="orderCard">
        <div  *ngIf="singlecoupon.qrcode_img">
          <ion-img style="width: 180px; height: 180px; margin:0 auto;" [src]="singlecoupon.qrcode_img" [ngClass]="{blurredImg: singlecoupon.redeem_status == 1}" ></ion-img>
          <ion-item *ngIf="singlecoupon.redeem_status == 1"><ion-label color="danger" class="centerThis">Item Redeemed</ion-label></ion-item>
        </div>

        <ion-card-header>
          <div>
            <ion-card-title>Coupon Details: </ion-card-title>
            <ion-card-subtitle *ngIf="singlecoupon.order_type != 2">Name: {{singlecoupon.inventory}}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="singlecoupon.order_type == 2">Name: {{singlecoupon.gift_card}}</ion-card-subtitle>
            <ion-card-subtitle>Coupon Code: {{singlecoupon.coupon}}</ion-card-subtitle>
            <ion-card-subtitle>Purchase Date: {{singlecoupon.purchase_date}}</ion-card-subtitle>
            <ion-card-subtitle>Amount: ${{singlecoupon.amount}}</ion-card-subtitle>
          </div>	    
        </ion-card-header>          
      </ion-card>
      <!-- <ion-button color="primary" (click) = "viewDetails(customerdata?.customer.CustomerID)" shape="round">View Membership Details</ion-button> -->
    </div>

    <!-- Skeleton screen -->
    <div *ngIf="!orders">
      <div *ngIf="noRecords"><ion-item><p>No Records Found</p></ion-item></div>
      <div *ngIf="!noRecords">
        <div class="ion-padding custom-skeleton">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>
      
        <ion-list>
          <ion-list-header>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-list-header>
          <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
          </ion-item>		  
        </ion-list>
      </div>
    </div>	
    <!-- END success Payment -->
  </div>
  <!-- End Redeemed Sectioin -->


  
</ion-content>


<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->