<!-- App Header -->
<!-- Back button with a default href -->
<ion-header>
	<ion-toolbar color="primary" class="headerSec">
		<ion-buttons slot="end">
		<ion-button routerLink="/rewards-home">
			<ion-icon slot="icon-only" name="home"></ion-icon>
		</ion-button>            
		</ion-buttons>
		<ion-title>
		<img alt="logo" class="appLogo" style="text-align:center;"  src="../assets/images/rockin-jump-logo.png" > 
		</ion-title>
	</ion-toolbar>
</ion-header>
<!-- Back button with a default href -->
<!-- App Header -->

<ion-content>
<div class="screen-wrapper tiles-page">
	<div class="inner-pages">
		<div class="content-inner-custom waiver-expire">
			<div class="container">
				<h2 class="top_heading">We're almost there!</h2>
				<form [formGroup]="form" (ngSubmit)="submit(form.value)">
					<div class="select-people-outer">
						<h3>{{titleType}}</h3>
						<!-- showspinner Lines -->
						<ion-item *ngIf="!jumpCust?.length > 0">
							<ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
						</ion-item>
						<!-- Success Payment -->
						<div class="select-people-inner">
							<ion-list>
							  <ion-item *ngFor="let cat of jumpCust let i = index;">
							    <!-- {{cat.FirstName}} -->
							    <ion-checkbox (click)="onChange(cat.CustomerID, $event.target.checked, cat.FirstName)" name="{{ cat.CustomerID }}" type="checkbox" formControlName="jumpUser" id="{{cat.CustomerID}}"></ion-checkbox>
							    <ion-label>  {{cat.FirstName}}</ion-label>
							    
							  </ion-item>
							</ion-list>
						
						</div>
						
					</div>

					<div class="next-btn-br centerThis">
						<ion-button type="submit" color="secondary" shape="round" [disabled]="!goNext">NEXT <img class="left5px" src="assets/images/next-arrow.png" alt="" /></ion-button>
					</div>
				</form>

			</div>

		</div>
	</div>

</div>
</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->