.top_heading{
	padding-top:20px;
}

.waiver-expire h3 {
    font-size: 18px;
    line-height: 26px;
}

.select-people-inner ion-item {
    margin: 0 0 10px;
}

.select-people-inner ion-label{
	font-weight: 600;
	font-family: 'CenturyGothic';
	font-size: 15px;
    padding: 0 0 0 6px;
    text-transform: capitalize;
}

.custom_green{
    font-size: 17px !important;
    padding: 14px 40px !important;
    background: #e16501 !important;
    border: 0px !important;
    border-radius: 50px;
    color: #FFF;
    margin: 15px 0 0;
}

