<!-- <ion-tabs> -->

    <ion-tab-bar slot="bottom">
      
      <ion-tab-button  routerLink="/campaign-buy">
        <ion-icon  color="primary" name="star"></ion-icon>
        <ion-label color="primary">Promotions</ion-label>
      </ion-tab-button> 

      <ion-tab-button routerLink="/membership/select-prepass">
        <ion-icon color="primary" name="basket"></ion-icon>
        <ion-label color="primary">Passes</ion-label>
      </ion-tab-button>

      <ion-tab-button  routerLink="/add-money">
        <ion-icon  color="primary" name="wallet"></ion-icon>
        <ion-label color="primary">Wallet</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  routerLink="/all-giftcards">
        <ion-icon  color="primary" name="gift"></ion-icon>
        <ion-label color="primary">Gift Cards</ion-label>
      </ion-tab-button>

      <ion-tab-button  tab="map" routerLink="/order-history/order-list">
        <ion-icon color="primary" name="reorder"></ion-icon>
        <ion-label color="primary">Orders</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  
  <!-- </ion-tabs> -->