<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
  <!-- Segment with default selection -->
  <ion-segment value="active" [(ngModel)]="activeSeg" class="lr_pding">
    <ion-segment-button class="activeSec" checked value="active">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button color="light" class="expiredSec" value="nonactive">
        <ion-icon name="eye-off"></ion-icon>
        <ion-label>Expired</ion-label>
    </ion-segment-button>
  </ion-segment>

    <!-- Skeleton screen -->
		<div *ngIf="!orders">
      <div *ngIf="!noRecords" class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 98%; height: 100px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 98%; height: 100px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 98%; height: 100px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 98%; height: 100px;"></ion-skeleton-text>
      </div>
      <ion-item *ngIf="noRecords">
        <ion-text>No Records Found</ion-text>
      </ion-item>
    </div>	
    <!-- Skeleton screen -->
  
  <!-- Active Order -->
  <div *ngIf="orders">
    <div class="acordian" *ngIf="activeSeg == 'active'">
      <div class="tabs add_padding">
        <div *ngFor="let order of orders; let i=index;">
          <div class="tab" *ngIf="order.redeemed_all == 'false'">
            <input type="radio" id="{{order.qrcode}}" name="rd">
            <div class="bottomCircle"></div>
            <label class="tab-label crical" [ngClass]="{'tab-red': order.order_type == 3}" for="{{order.qrcode}}"><span class="acordian_logo"><img src="../assets/images/logo_png.png" alt="#"></span> 
              <span class="acordian_timer" *ngIf="order.purchase_date"><p>{{getType(order.order_type)}}</p> <h5>{{custDate(order.purchase_date)}}</h5></span></label>
              <div class="tab-content">
                <div class="bg_image">
                  <ion-row class="pd_top"> 
                    <ion-col size="9" size-sm="9" size-md="9" size-lg="9">
                      <div class="wallet_heding">
                        <h4 *ngIf="order.order_type">{{getType(order.order_type)}}:</h4>
                        <p *ngIf="order.order_type == 2">{{order.custom_msg}}</p>
                        <p *ngIf="order.name">{{order.name}}</p>
                      </div>
                    </ion-col>	
                
                    <ion-col size="3" size-sm="3" size-md="3" size-lg="3">
                      <div class="wallet_image">
                        <!-- <img *ngIf="order.order_type == 3" src="{{order.picture}}" alt="#"> -->
                        <!-- <img *ngIf="order.order_type != 3" src="{{order.image}}" alt="#"> -->
                        <img src="{{order.image}}" alt="#">
                      </div>
                    </ion-col>	
                  </ion-row>	


                  <ion-col *ngIf="order.order_type != 3" class="table_outer">
                    <!-- header -->
                    <ion-row class="pd_top headr_tbl"> 
                      <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                        <div class="tickets">
                          <p>Coupon</p>
                        </div>  
                      </ion-col>
                    
                      <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                        <div class="tickets">
                          <p>Amount</p>
                        </div>
                      </ion-col>
                      <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                        <div class="tickets">
                          <p>Redeemed</p>
                        </div>
                      </ion-col>  
                    </ion-row>  
                    <!-- header -->
                
                    <!-- Table -->
                    <ion-row class="pd_top" *ngFor="let scoupon of order.coupons">
                      <!-- <ion-row class="pd_top"> -->
                      <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p>{{scoupon.coupon}}</p></div></ion-col>
                      <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p>${{scoupon.amount}}</p></div> </ion-col>
                      <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p *ngIf="scoupon.redeem_status == 0">No</p><p *ngIf="scoupon.redeem_status == 1">Yes</p></div></ion-col>
                    </ion-row>
                    <!-- End Table and Header -->
                  </ion-col>


                  <ion-col *ngIf="order.order_type == 3" class="table_outer">
                    
                      <!-- Passes UI -->
                      <ion-row class="pd_top list_users uper" *ngFor="let scoupon of order.coupons; let indx=index">
                        <!-- <ion-row class="pd_top"> -->
                        <ion-col size="5" size-sm="5" size-md="5" size-lg="5">
                          <div class="tickets">
                            <img *ngIf="scoupon.profile_pic" src="{{scoupon.profile_pic}}" alt="#">
                            
                            <ion-button class="orangeRoundBtn" color="orgbtn" *ngIf="scoupon.profile_pic_exists === false" (click)="uploadActionSheet(scoupon.customer_id,indx)">Upload Image</ion-button>
                          </div>
                        </ion-col>
                        <ion-col size="7" size-md="7" size-sm="7" size-lg="7">
                          <div class="redeem_detail">
                            <h3><strong>Name:</strong> {{scoupon.name}}</h3>
                            <h4><strong>Copuon code:</strong>{{scoupon.coupon}}</h4>
                            <h5><strong>Expiry date</strong> {{scoupon.expire_date}}</h5>
                            <h6><strong>Price</strong> ${{scoupon.amount}}</h6>
                          </div>
                        </ion-col>
                      </ion-row>
                    <!-- End Passes UI -->
                  </ion-col>
                  
                  <ion-row class="pd_top"> 
                    <ion-col size="12" size-sm="12" size-md="12" size-lg="12">
                    <div class="scaner">
                      <img src="{{order.qrcode_img}}">
                    </div>
                    </ion-col>	
                  </ion-row>
                </div>
            </div>
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd3" name="rd">
          <label for="rd3" class="tab-close">Close All &times;</label>
        </div>
      </div>
    </div>
  </div>
  <!-- End Active -->

  <!-- Expired Orders -->
  <div *ngIf="orders" class="expiredOrders">
    <div class="acordian" *ngIf="activeSeg == 'nonactive'">
    <div class="tabs add_padding">

      <div *ngFor="let order of orders; let i=index;">
        <div class="tab" *ngIf="order.redeemed_all == 'true'">
          <input type="radio" id="{{order.qrcode}}" name="rd">
          <div class="bottomCircle"></div>
          <label class="tab-label crical" [ngClass]="{'tab-red': order.order_type == 3}" for="{{order.qrcode}}"><span class="acordian_logo"><img src="../assets/images/logo_png.png" alt="#"></span> 
            <span class="acordian_timer" *ngIf="order.purchase_date"><p>{{getType(order.order_type)}}</p> <h5>{{custDate(order.purchase_date)}}</h5></span></label>
            <div class="tab-content">
              <div class="bg_image">
                <ion-row class="pd_top"> 
                  <ion-col size="9" size-sm="9" size-md="9" size-lg="9">
                    <div class="wallet_heding">
                      <h4 *ngIf="order.order_type">{{getType(order.order_type)}}:</h4>
                      <p *ngIf="order.order_type == 2">{{order.custom_msg}}</p>
                      <p *ngIf="order.name">{{order.name}}</p>
                    </div>
                  </ion-col>  
              
                  <ion-col size="3" size-sm="3" size-md="3" size-lg="3">
                    <div class="wallet_image">
                      <img *ngIf="order.order_type == 3" src="{{order.picture}}" alt="#">
                      <img *ngIf="order.order_type != 3" src="{{order.image}}" alt="#">
                    </div>
                  </ion-col>  
                </ion-row>  


                <ion-col *ngIf="order.order_type != 3" class="table_outer">
                  <!-- header -->
                  <ion-row class="pd_top headr_tbl"> 
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                      <div class="tickets">
                        <p>Coupon</p>
                      </div>  
                    </ion-col>
                  
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                      <div class="tickets">
                        <p>Amount</p>
                      </div>
                    </ion-col>
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                      <div class="tickets">
                        <p>Redeemed</p>
                      </div>
                    </ion-col>  
                  </ion-row>  
                  <!-- header -->
              
                  <!-- Table -->
                  <ion-row class="pd_top" *ngFor="let scoupon of order.coupons">
                    <!-- <ion-row class="pd_top"> -->
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p>{{scoupon.coupon}}</p></div></ion-col>
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p>${{scoupon.amount}}</p></div> </ion-col>
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p *ngIf="scoupon.redeem_status == 0">No</p><p *ngIf="scoupon.redeem_status == 1">Yes</p></div></ion-col>
                  </ion-row>
                  <!-- End Table and Header -->
                </ion-col>


                <ion-col *ngIf="order.order_type == 3" class="table_outer">
                  <!-- header -->
                  <ion-row class="pd_top headr_tbl"> 
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                      <div class="tickets">
                        <p>Coupon</p>
                      </div>  
                    </ion-col>
                  
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                      <div class="tickets">
                        <p>Amount</p>
                      </div>
                    </ion-col>
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                      <div class="tickets">
                        <p>Picture</p>
                      </div>
                    </ion-col> 
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4">
                      <div class="tickets">
                        <p>Expired</p>
                      </div>
                    </ion-col>  
                  </ion-row>  
                  <!-- header -->
              
                  <!-- Table -->
                  <ion-row class="pd_top" *ngFor="let scoupon of order.coupons">
                    <!-- <ion-row class="pd_top"> -->
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p>{{scoupon.coupon}}</p></div></ion-col>
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p>${{scoupon.amount}}</p></div> </ion-col>
                    <ion-col size="4" size-sm="4" size-md="4" size-lg="4"><div class="tickets"><p *ngIf="scoupon.redeem_status == 0">No</p><p *ngIf="scoupon.redeem_status == 1">Yes</p></div></ion-col>
                  </ion-row>
                  <!-- End Table and Header -->
                </ion-col>
                
                <ion-row class="pd_top"> 
                  <ion-col size="12" size-sm="12" size-md="12" size-lg="12">
                  <div class="scaner">
                    <img src="{{order.qrcode_img}}">
                    <ion-text color="danger">Redeemed</ion-text>
                  </div>
                  </ion-col>  
                </ion-row>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- End Expired Orders -->
</ion-content>


<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->
