.logo_left {
  padding: 15px 0 0;
}

.logo_left img {
  width: 100%;
}

.date_time {
  text-align: right;
}

.date_time p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  color:#FFF;
  font-family: 'CenturyGothic' !important;

}

.date_time h5 { margin: 0; padding: 4px 0px 0px; font-size: 25px; font-weight: 600; letter-spacing: 0px; color:#FFF; font-family: 'CenturyGothic' !important; }

.bg_image{ background:rgba(97, 92, 92, 0.8); width: 100%;padding: 10px 10px; height: 100%; margin: 0 0 40px; padding-bottom: 0px; display: inline-block; }


.wallet_heding p { font-size: 13px; text-transform: uppercase; color: #FFF; font-weight: 600; opacity: 0.8; letter-spacing: 0.7px; margin: 0; font-family: 'CenturyGothic' !important; }

.wallet_heding h4 { font-size: 17px; text-transform: capitalize; color: #FFF; font-weight: 600; opacity: 0.8; margin: 0; letter-spacing: 0.7px; padding: 4px 0 0; font-family: 'CenturyGothic' !important; }

.pd_top{
padding-top:0px;
}

.audiance_heding h5{ font-size: 15px; text-transform: uppercase; color: #FFF; font-weight: 600; margin: 0; padding: 4px 0 0 0; letter-spacing: 0.7px; font-family: 'CenturyGothic' !important; }

.audiance_heding p{ font-size: 18px; color: #FFF; font-weight: 600; margin: 0; letter-spacing: 0.7px; font-family: 'CenturyGothic' !important; }

.tickets{
text-align:center;
}

.tickets h4{ font-size: 16px; text-transform: capitalize; color: #FFF; font-weight: 600; margin: 0; letter-spacing: 0.4px; line-height: 22px; font-family: 'CenturyGothic' !important; }

.tickets p{ font-size: 13px; color: #FFF; font-weight: 500; margin: 0; padding: 5px; letter-spacing: 0.7px; font-family: 'CenturyGothic' !important; }

.scaner { width: 220px;margin: 0px auto; overflow: hidden; text-align: center; border-radius:10px; }

.scaner img {
  width: 78%;
}

.circle { width: 120px; height: 120px; background: #FFF; position: absolute; border-radius: 50%; left: 0; right: 0; top: -90px; margin: 0 auto; }

.top_pad {
  padding: 30px 0 0;
}

.table_outer {
  clear: both;
  display: block;
}

.headr_tbl ion-col {
  border:1px solid #ffffff;
  padding: 0px;
/*  background: #525252;*/
}
.list_users{
padding-top: 0px;
border-bottom: 1px solid #fff;
}
.list_users .tickets p{
padding: 2px;
}

.uploadBtn{
  padding: 0;
  margin: 0;
  height: 28px;
  vertical-align: middle;
}

.headr_tbl .tickets p{ font-size: 15px; color: #FFF; font-weight: 500; margin: 0; padding: 5px; letter-spacing: 0.7px; font-family: 'CenturyGothic' !important; }

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  margin: 0 0 32px;

}
.tabs.add_padding{
  padding: 10px;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  margin: 0 0 20px;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background:#61bd1e;
  font-weight: bold;
  cursor: pointer;
 margin:0 0 0px;
  /* Icon */
}
.expiredOrders .tab-label {
  background: #989aa2;
}

.tab-red{
  background: #e34b00;
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
  position: relative;
  top: 12px;
}
// bottomCircle
$size: 20px;
.bottomCircle {
  background: #ffffff;
  height: $size;
  width: $size * 3;
  border-bottom-left-radius: $size * 2;
  border-bottom-right-radius: $size * 2;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-bottom: -20px;
}
/*end bottomCircle*/

.tab-content {
  max-height: 0;
  padding: 0 0em;
  color: #2c3e50;
  background: white;
  transition: all .35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background:rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.tab-close:hover {
  background:rgba(0, 0, 0, 0.8);
}

input:checked + .tab-label {
   background:#81d742;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: fit-content;
  padding:0 0em;
}

.tab input{
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.acordian_logo {
    width: 50%;
    padding: 16px 0 0;
}


.acordian_timer p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0px;
    color:#FFF;
    font-family: 'CenturyGothic' !important;

}

.acordian_timer h5 {
    margin: 0;
    padding: 0px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    color:#FFF;
    font-family: 'CenturyGothic' !important;

}

span.acordian_timer {
    float: right;
    text-align: right;
    padding: 0 0 0 50px;
}

.expiredSec{
  background: #fff;
  color: #989aa2;
  width: 50%;
  border: none;
  border-bottom: 1px solid #989aa2;
}

.activeSec{
  background: #fff;
  color: #61bd1e;
  width: 50%;
  border: none;
  border-bottom: 1px solid #61bd1e;
}
.activeSec.segment-button-checked{
  background: #61bd1e;
  color: #fff;
  width: 50%;
  border: none;
}

.expiredSec.segment-button-checked{
  background: #1a252f;
  color: #fff;
  width: 50%;
}

.redeem_detail {
  padding: 7px 0 0;
}

.tickets img {
  border-radius: 50%;
  width: 80%;
}

.uper {
  margin: 10px 0;
  padding: 10px 0 0 0;
}

.redeem_detail h3 {
  margin: 0;
  font-size: 15px;
  color: #FFF;
  padding: 0;
}

.redeem_detail h4 {
  margin: 0;
  font-size: 13px;
  color: #FFF;
  padding: 7px 0 0;
}
.redeem_detail h5 {
  margin: 0;
  font-size: 13px;
  color: #FFF;
  padding: 7px 0 0;
}

.redeem_detail h6 {
  margin: 0;
  font-size: 14px;
  color: #FFF;
  padding: 7px 0 0;
}

.uploadBtn {
  padding: 0;
  margin: 3px 0 5px;
  height: 36px;
  vertical-align: middle;
  width: 105px;
  border-radius: 50%;
  font-size: 15px;
}

.selectButton{
  padding: 0;
  margin: 0;
}
.selectButton ion-label{
  margin: 0;
}
.selectButton ion-select{
  padding-left: 0;
  margin: 0;
}

.lr_pding {
    padding: 10px 10px;
}

.lr_pding ion-segment-button {
    padding: 5px 0;
}

.orangeRoundBtn{
    border-radius: 50px !important;
    background: #e16501 !important;
    text-align: center;
    padding: 0 0px;
    margin: 7px auto;
    font-size: 13px;
}