span.childtg {
   font-size: 15px;
   width: 100%;
   display: block;
   padding: 10px;
   background: #ffe3d8;
   text-transform: uppercase;
   font-weight: 600;
   font-family: 'CenturyGothic';
}

span.childtg span {
   color: #e44b10;
}

.membership_plan ion-col.hydrated .select-mebership-option {
   margin: 5px 0;
}

.membership_plan ion-col.hydrated .select-mebership-option h4 {
   margin: 0;
}

.membership_plan .icons-plans img {
   max-width: 60px;
}

.membership_plan {
   width: 100%;
display: block;
}

.membership_plan ion-col.hydrated {
   width: 50%;
   float: left;
}

.orange_btn{
    background: #e16501 !important;
    width: 170px !important;
    padding: 13px 0!important;
    border: 1px solid #e16501!important;
    text-align: center;
}