<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			<div class="content-inner-custom membership-select-page">
				<div class="container">
					<h3 class="top_heading">Select Passes:</h3>
					<form [formGroup]="formdata" (ngSubmit) = "submitVal(formdata.value)" >
						<div class="membership-plan">
							<!-- NEW -->
							<!-- <ion-list>
							  	<ion-radio-group>
								    <ion-item *ngFor="let plan of selectedChild">
								      <ion-label>{{plan.membership_name}} - ${{plan.m_price}}</ion-label>
								      <ion-radio slot="start" value="{{plan.m_price}}"></ion-radio>
								    </ion-item>
								</ion-radio-group>
							</ion-list>		 -->					
							<!-- END -->
							<ion-col *ngFor="let child of selectedChild.data">
								<span class="childtg">Jumper Name is <span>{{child.name}}</span> </span>
								<ion-grid>
									<ion-row>
										<div class="membership_plan">
										<div formArrayName="member_Plan">
											<div *ngFor="let memberPlan of formdata.get('member_Plan').controls; let i=index" class="panel panel-default" >
		          							<div [formGroupName]="i">
		          							<ion-col *ngFor="let plan of membershipPlan">
													<div class="col-sm-6 col-xs-6 text-center" >
														<div class="select-mebership-option">

  															<input *ngIf="plan.product_id===selectedPass" class="kk" (change)="onItemChange($event.target.checked, plan.m_price, plan.plan_id, child.child,plan.pid)" type="radio" formControlName="memberPlan" value="{{plan.product_id}}" [(ngModel)]="selectedPass">

															<input *ngIf="plan.product_id!==selectedPass" (change)="onItemChange($event.target.checked, plan.m_price, plan.plan_id, child.child,plan.pid)" type="radio" formControlName="memberPlan" class="kksaaa" value="{{plan.m_price}}_{{plan.pid}}">
															
															<div class="mebership-option-inner">
																<div class="icons-plans">
																	<img class="normal" src="../assets/images/jumping-graident-icon.png" alt="" />
																	<img class="selected-im" src="../assets/images/jumping-white-icon.png" alt="" />
																</div>
																<h4>{{plan.membership_name}} - ${{plan.m_price}}</h4>
															</div>
														</div>
													</div>
													</ion-col>
												</div>
											</div>
										</div>
									</div>
									</ion-row>
								</ion-grid>
							</ion-col>
						</div>

						<div class="next-btn">
							<ion-button [disabled]="formdata.invalid" class="btn" color="secondary" shape="round" type="submit">Pay {{showpay}}  <img class="left5px" src="../assets/images/next-arrow.png" alt=""></ion-button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<!-- App tabs -->
<app-tabs></app-tabs>
<!-- App tabs -->
