<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>  
  <div class="content-inner-custom ion-padding">
    <div class="container">
      <h1>Find Location:</h1>
      <ion-list>
        <ion-item>
          <ion-label>Select Location</ion-label>
          <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet"  okText="Okay" cancelText="Dismiss" placeholder="Select One">
            <ion-select-option value="1">Elk Grove</ion-select-option>
            <ion-select-option value="2">Roseville</ion-select-option>
            <ion-select-option value="9">Vacaville</ion-select-option>
            <ion-select-option value="21">Orange County</ion-select-option>
            <ion-select-option value="26">Carol Stream</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <!--a (click) = "redirectSign()" class="btn" >SIgnup</a-->
      <div class="loacton-before">
        <h3>Have you been to above location before?</h3>
        <div class="btn-group">
          <a (click) = "togglediv(true)" class="btn ng-hide" >Yes</a>
          
          <a class="no-btn" (click) = "togglediv(false)" routerLink="/tiles-screens" >No</a> 

          <a class="no-btn" (click) = "getUuid()" >Get UID</a> 
          <ion-button (click) = "uploadActionSheet()">ActionSheet</ion-button>
        </div>
        
        <div class="find-system" *ngIf="showdiv" >
          <!-- <div class="find-system"> -->
          <form [formGroup]="formdata" (ngSubmit) = "getData(formdata.value)" >
            <h5>Lets find you in system and get you signed in.</h5>
            <div class="form-outer">
              <!-- PHONE NUMBER -->
              <!-- <form> -->
                <label for="email">
                  Please enter your Phone number or Email:
                  
                  
                </label>
                <div class="form-group">
                  <span class="phone-icon"><img src="../assets/images/phone-icon.png" alt="" /></span>
                  
                  <input class="form-control" id="inputPhone" formControlName="phone" size="3" title="" type="tel">

                  <input class="form-control" id="uniqueuid" formControlName="uniqueuid" size="3" title="" type="tel">
                </div>
                <div class="form-group">
                  <span class="phone-icon"><img src="../assets/images/enevelop-icon.png" alt="" /></span>
                  <input class="form-control" type="text"  formControlName="email">  
                </div>
                
                <button type="submit" class="btn btn-green">Submit</button>
            </div>
          </form>
          <ion-textarea rows="6" cols="20" value="Empty Number:85532156328 Web Iphone: 40920192023">
            
          </ion-textarea>
        </div>
      </div>      
    </div>
  </div>
</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->