.photo-add img {
    width: 100%;
}

.photo-add{
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin: 10px 0 30px;
    border:2px solid #e34b00;
}	

.list-ios{
	background:none;
}

.summary-address ul{
	padding:0px;
}

.order-summary{
	padding: 0px 5px;
}

.summary-address {
    padding: 10px 10px 10px;
}

span.user-name{
	margin-top:0px; 
}

.add-photo-section{
	margin-bottom: 30px;
}