<!-- Back button with a default href -->
<ion-header>
    <ion-toolbar color="primary" class="headerSec">
      <ion-buttons slot="start">
		<ion-back-button defaultHref="rewards-home" [text]="''"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/rewards-home">
	      <ion-icon slot="icon-only" name="home"></ion-icon>
	    </ion-button>            
      </ion-buttons>
      <ion-title>
       <img alt="logo" class="appLogo" style="text-align:center;"  src="../assets/images/rockin-jump-logo.png" > 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<!-- Back button with a default href -->

<ion-content padding>

	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			
			<div class="content-inner-custom order-details">
				<div class="container">
					<h2 *ngIf="profilePic" class="border-down">Add a Photo</h2>


					<div class="add-photo-section">

						<div class="add-photo-inner">

							<div class="photo-add">

								<ion-img *ngIf="image" [src]="image"></ion-img>
								<ion-img *ngIf="profilePic" [src]="profilePic"></ion-img>								

								<!-- <ion-img *ngIf="!image" [src]="customerdata?.customer.Picture"></ion-img> -->
								<img alt="logo" *ngIf="!image && !customerdata?.customer.Picture" height="40" style="text-align:center;"  src="../assets/images/no-image.png" > 
								<!-- <ion-img *ngIf="customerdata?.customer.Picture" [src]="../assets/images/no-image.png"></ion-img> -->
								<ion-img *ngIf="fileUrl" [src]="fileUrl"></ion-img>
							</div>
							
						</div>

						<ion-list>
							<ion-button (click)="openCam()" shape="round">Click Photo</ion-button>
							<ion-button (click)="openGallery()" shape="round">From Phone</ion-button>
						</ion-list>


					</div>

					<div class="order-summary">

						<div class="summary-address">
							<ul>
								<span class="user-name">{{customerdata?.customer.FirstName}} {{customerdata?.customer.LastName}}</span>
								<li>
								<span class="summary-head">Address:</span>
								<p>{{customerdata?.customer.Address1}} {{customerdata?.customer.Address2}}</p>
								</li>

								<li>
								<span class="summary-head">Phone No:</span>
								<p>{{customerdata?.customer.PhoneNumber}}</p>
								</li>

								<li>
								<span class="summary-head">Email:</span>
								<p>{{customerdata?.customer.EMailAddress}}</p>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</ion-content>

<!-- <ion-tabs> -->

<ion-tab-bar slot="bottom">

	<ion-tab-button  routerLink="/campaign-buy">
		<ion-icon  color="primary" name="star"></ion-icon>
		<ion-label color="primary">Promotions</ion-label>
	</ion-tab-button> 

	<ion-tab-button routerLink="/membership/select-prepass">
		<ion-icon color="primary" name="basket"></ion-icon>
		<ion-label color="primary">Passes</ion-label>
	</ion-tab-button>

	<ion-tab-button  routerLink="/add-money">
		<ion-icon  color="primary" name="wallet"></ion-icon>
		<ion-label color="primary">Wallet</ion-label>
	</ion-tab-button>

	<ion-tab-button  routerLink="/all-giftcards">
		<ion-icon  color="primary" name="gift"></ion-icon>
		<ion-label color="primary">Gift Cards</ion-label>
	</ion-tab-button>

	<ion-tab-button  tab="map" routerLink="/order-history/order-list">
		<ion-icon color="primary" name="reorder"></ion-icon>
		<ion-label color="primary">Orders</ion-label>
	</ion-tab-button>

</ion-tab-bar>

<!-- </ion-tabs> -->