<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>

  <!-- Success Payment -->
  <div *ngIf="orders"  class="centerContent" >
    <ion-card *ngFor="let singlecoupon of orders; let i=index" class="orderCard">
      <div  *ngIf="singlecoupon.qrcode_img">
        <ion-img style="width: 180px; height: 180px; margin:0 auto;" [src]="singlecoupon.qrcode_img" [ngClass]="{blurredImg: singlecoupon.redeem_status == 1}" ></ion-img>
        <ion-item *ngIf="singlecoupon.redeem_status == 1"><ion-label color="danger" class="centerThis">Item Redeemed</ion-label></ion-item>
      </div>
      
      <ion-card-header>
        <div class="coupon_card">
          <ion-card-title>Coupon Details: </ion-card-title>
          <ion-card-subtitle *ngIf="singlecoupon.order_type != 2">Name: {{singlecoupon.inventory}}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="singlecoupon.order_type == 2">Name: {{singlecoupon.gift_card}}</ion-card-subtitle>
          <ion-card-subtitle>Coupon Code: {{singlecoupon.coupon}}</ion-card-subtitle>
          <ion-card-subtitle>Purchase Date: {{singlecoupon.purchase_date}}</ion-card-subtitle>
          <ion-card-subtitle>Amount: ${{singlecoupon.amount}}</ion-card-subtitle>
        </div>	    
      </ion-card-header>
        
    </ion-card>
    <!-- <ion-button color="primary" (click) = "viewDetails(customerdata?.customer.CustomerID)" shape="round">View Membership Details</ion-button> -->
  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!orders">
    <div *ngIf="noRecords"><ion-item><p>No Records Found</p></ion-item></div>
    <div *ngIf="!noRecords">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
    
      <ion-list>
        <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-list-header>
        <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
        </ion-item>		  
      </ion-list>
    </div>
  </div>	
  <!-- END success Payment -->

</ion-content>

<!-- App tabs -->
<app-tabs></app-tabs>
<!-- App tabs -->
