<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			<div class="content-inner-custom">
				<div class="container">
					<div class="camp-gallery-detail" *ngIf="campaigns && !ifCampgnActive">
						<div class="camp-gallery-im">
							<img src="{{campaigns?.imagepath}}" alt="" />
							<h4 class="total-discount">Up to <span class="badge-discount">{{campaigns?.packages[0].discount}}%</span> off</h4>
						</div>
						
						<div class="camp-gallery-descirption">						
							<h3>{{campaigns?.title}}</h3>
							<ion-item *ngFor="let package of campaigns.packages; let i = index">
								<ion-label class="remove_mrgn">
										
							    	<ion-card no-margin class="quantity_outer">
									 <ion-card-content class="main_price">
										 <h5>{{package.package_name}}</h5>									
									  	<ion-icon name="gift" class="gift"></ion-icon>
									  	<span class="camp-jump-price-inner dnager_label" style='color:red;text-decoration:line-through;'><ion-icon name="logo-usd" class="postion_setting"></ion-icon>{{package.price}}</span>
									  	<ion-label color="secondary">
									  		<ion-icon name="logo-usd" class="postion_setting"></ion-icon>{{package.value}}
									  	</ion-label>
									  </ion-card-content>
									   	<ion-item class="bottom_pop">
										   <ion-label>Quantity</ion-label>
										   <ion-select (ionChange)='onOptionsSelected($event.target.value,package.value,package.id,package.package_name)' [interfaceOptions]="customPopoverOptions" interface="popover"  placeholder="0">
												<ion-select-option  *ngFor="let qnt of qnty" value="{{qnt}}">{{qnt}}</ion-select-option>
											</ion-select>
										</ion-item>
										 <!-- <ion-label *ngIf="qntChk" class="error">Quantity can't be above {{qntyCount}}</ion-label> -->
									</ion-card>
									<hr/>
							    </ion-label>

							    <!-- <ion-checkbox class="offer-listing" slot="end" color="primary" value="package.value" (click)="onChangeCamp($event.target.checked,package.value,package.id)"></ion-checkbox> -->
							</ion-item>
							
							<h4>What We're Offering</h4>
							<div [innerHTML]="campaigns?.offers"></div>

							<h4>About Us</h4>
							<div [innerHTML]="campaigns?.about_us"></div>
							
							<h4>The Fine Print</h4>
							<div [innerHTML]="campaigns?.fine_print" class="finePrint"></div>



							<div class="camp-conatct">
							<h5>Contact</h5>
								<ion-list>
								  <ion-item>
								  	<ion-icon name="call"></ion-icon>
								    <ion-label ><a href="tel:{{campaigns?.contact_no}}">{{campaigns?.contact_no}}</a></ion-label>
								  </ion-item>
								  <ion-item>
								  	<ion-icon name="mail"></ion-icon>
								    <ion-label ><a href="mailto:{{campaigns?.email}}">
									{{campaigns?.email}}</a></ion-label>
								  </ion-item>
								  <ion-item>
								  	<ion-icon name="compass"></ion-icon>
								    <ion-label >{{campaigns?.address}}</ion-label>
								  </ion-item>							 
								</ion-list>							
							</div>
							
					<!-- 
							<div class="camp-buy-now fixed-bottom">
								<a href="#">Buy Now</a>
							</div> -->
						</div>
					</div>

					<ion-item *ngIf="ifCampgnActive">
						<ion-text>
							<h4>Promotion no longer active</h4>
						</ion-text>
							
					</ion-item>


					<!-- Skeleton screen -->
					
					<div *ngIf="!campaigns">
						<div class="ion-padding custom-skeleton">
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
							<ion-skeleton-text animated></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
						</div>
						
						<ion-list>
							<ion-list-header>
							<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
							</ion-list-header>
							<ion-item>
							<ion-avatar slot="start">
								<ion-skeleton-text animated></ion-skeleton-text>
							</ion-avatar>
							<ion-label>
								<h3>
								<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
								</h3>
								<p>
								<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
								</p>
								<p>
								<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
								</p>
							</ion-label>
							</ion-item>		  
						</ion-list>
					</div>	
					
				</div>
				
			</div>
			<!-------------content-inner-custom-end---------------->

	</div>
</div>
</ion-content>


<ion-footer *ngIf="campaigns && !ifCampgnActive">
  <ion-toolbar>
  		<ion-item>
			<ion-checkbox (click)="onChange($event.target.checked)"></ion-checkbox>
			<ion-label *ngIf="!disabled"><ion-note color="danger" class="conditions_accept">I accept all the terms and conditions</ion-note></ion-label>
			<ion-label *ngIf="disabled"><ion-note color="success" class="conditions_accept conditions_accepted">I accept all the terms and conditions</ion-note></ion-label>
		</ion-item>
    <ion-button class="orangeRoundBtn" expand="block" [disabled]="!disabled" (click)="makePayment(totalamount)" full shape="round" color="orgbtn">BUY $ {{totalamount}}</ion-button>
  </ion-toolbar>
</ion-footer>
