.finePrint li {
    list-style: decimal;
}
.finePrint ul {
    list-style: decimal;
}
.wrapper{
 width: 200px;
 height: 300px;
 border: 1px solid silver;
 padding: 20px;
}
nav{
  background-color: #0095ff;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
}
.wrapper>div{
  width: 85px;
  border: 1px solid black;
  padding: 5px;
  background-color: grey;
  float: left;

}
ion-checkbox.offer-listing {
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    bottom: 12px;
    width: 40px;
    height: 40px;
}





.my-css-class{
–background: #488aff !important;
}

.buy_btn {
    width: 150px;
    margin: 10px auto;
    border-radius: 50px!important;
    background: red;
}

.camp-conatct ion-label {
  padding: 0 0 0 12px;
  font-family: 'CenturyGothic' !important;
  font-weight: 600;
}

.conditions_accept{
    font-weight: bold;
    font-family: 'CenturyGothic' !important;    
    font-size: 13px;
    letter-spacing: 0.6px;
}
.conditions_accepted{
  color: green;
}
.main_price ion-label {
    float: right;
    font-weight: bold;
}

.main_price .dnager_label {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.postion_setting {
    position: relative;
    top: 1px;
    font-size: 15px;
}

.gift{
    color: #333;
    font-size: 16px;
    position: relative;
    top: 1px;
    left: -4px;
}

.remove_mrgn {
    padding: 0;
    width: 100%;
    box-shadow: none;
    margin: 0 0 10px;
}

.bottom_pop {
    width: 100%;
    margin:-15px 0 0px;
    text-align: left;
    position: static;
}


.quantity_outer{
    box-shadow: 1px 1px 10px #efefef;
    margin: 8px 0px;
    padding: 0;
    border: 1px solid #efefef;
}

.camp-gallery-descirption ion-item.item-native {
    padding: 0!important;
    margin: 0!important;
}

.error {
    color: red!important;
    font-size: 14px!important;
    font-weight: bold;
    padding: 0 15px 30px;
}

.orangeRoundBtn{
    border-radius: 50px !important;
    background: #e16501 !important;
    text-align: center;
    width: 150px;
    margin: 10px auto;
}