  .form-row{
    padding: 10px;
  }

  .StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }


.pass_pay {
    width: 180px;
    border-radius: 50px!important;
    margin: 10px auto;
    display: block;
}
.profileImg{
  max-width: 120px;
}
.passCard ion-card-title {
  color: #fff;
}
.passCard ion-card-subtitle {
  color: #fff;
}
.orderCard{
  border: 1px solid;
}
.orderCard ion-card-header{
  padding: 0;
  padding-top: 15px;
}

.orderCard ion-card-content{
  padding: 0;
  padding-top: 15px;
}

.upldBtn{
  width: 120px;
  height: 40px;
  margin: 4px auto;
  font-size: 16px;
}


.orangeRoundBtn{
    border-radius: 50px !important;
    background: #e16501 !important;
    text-align: center;
    margin: 10px auto;
    padding: 0 25px;
}

.make_paymnt {
    text-align: center;
}

.cupon_card {
    font-size: 20px;
    color: #333;
    padding: 0 0 10px;
}

.ad_pding{
  height: 40px;
}