<!-- App Header -->
<app-header></app-header>
<!-- App Header -->


<ion-content>
	<div class="screen-wrapper tiles-page">
		<div class="inner-pages">
			<div [hidden]="!showpayment">
				<ion-toolbar>
						<ion-title>Card Details</ion-title>
				</ion-toolbar>
				<form action="/" method="post" id="payment-form" class="make_paymnt">
					<ion-item *ngIf="customerdata?.customer.FirstName">
						<ion-label>{{customerdata?.customer.FirstName}}</ion-label>
						<ion-input></ion-input>
					</ion-item>
					<ion-item *ngIf="customerdata?.customer.EMailAddress">
						<ion-label>{{customerdata?.customer.EMailAddress}}</ion-label>
						<ion-input></ion-input>
					</ion-item>
					<ion-item *ngIf="customerdata?.customer.PhoneNumber">
						<ion-label>{{customerdata?.customer.PhoneNumber}}</ion-label>
						<ion-input></ion-input>
					</ion-item>

			      <div class="form-row">
			        <div id="card-element">
			          <!-- a Stripe Element will be inserted here. -->
			        </div>
			  
			        <!-- Used to display Element errors -->
			        <div id="card-errors" role="alert"></div>
			      </div>
		    		<ion-button class="orangeRoundBtn"  *ngIf="!showspinner" color="orgbtn" (click) = "makePayment(clientSecret)" shape="round" >Pay</ion-button>
			    </form>
			</div>
			<!-- showspinner Lines -->
			<ion-item *ngIf="showspinner">
					<ion-spinner class="centerContent" name="lines" color="primary"></ion-spinner>
			</ion-item>
			<!-- Success Payment -->
			<div *ngIf="showsuccess"  class="centerContent" >
					<ion-img style="width: 180px; height: 180px; margin:0 auto;" *ngIf="qrcodeImg" [src]="qrcodeImg"></ion-img> 
					<ion-card *ngFor="let singlecoupon of allcoupons; let i=index" class="orderCard">
						<ion-card-header>
							<div>
								<ion-card-title class="cupon_card">Coupon Details: </ion-card-title>
								<ion-card-subtitle>Coupon Name: {{singlecoupon.membership_name}}</ion-card-subtitle>
								<ion-card-subtitle>Coupon Code: {{singlecoupon.coupon}}</ion-card-subtitle>
								<ion-card-subtitle>Expiry Date: {{singlecoupon.expire_date}}</ion-card-subtitle>
								<ion-card-subtitle>Amount: ${{singlecoupon.amount}}</ion-card-subtitle>
							</div>	    
						</ion-card-header>
				 		<ion-card-content>
						    <ion-item>
						    	<ion-label>Jumper's Name:</ion-label>
								<ion-text>{{singlecoupon.name}}</ion-text>
							
							</ion-item>
							<ion-item  *ngIf="!singlecoupon.profile_pic">
								<ion-thumbnail slot="start">
									<ion-skeleton-text></ion-skeleton-text>
								</ion-thumbnail>
							</ion-item>
							<ion-item *ngIf="singlecoupon.profile_pic">
								<img class="profileImg centerThis" src="{{singlecoupon.profile_pic}}?time={{getTimeStamp()}}">
							</ion-item>
							<ion-item *ngIf="!singlecoupon.profile_pic_exists" >
								<ion-button class="orangeRoundBtn ad_pding" shape="round" color="orgbtn" (click)="uploadActionSheet(singlecoupon.customer_id,i)">Upload Image</ion-button>
							</ion-item>
					  	</ion-card-content>
					</ion-card>
					<!-- <ion-button color="primary" (click) = "viewDetails(customerdata?.customer.CustomerID)" shape="round">View Membership Details</ion-button> -->
			
					<!-- Skeleton screen -->
					<div *ngIf="!qrcodeImg">
						<div class="ion-padding custom-skeleton">
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
							<ion-skeleton-text animated></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
							<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
						</div>
					
						<ion-list>
							<ion-list-header>
							<ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
							</ion-list-header>
							<ion-item>
							<ion-avatar slot="start">
								<ion-skeleton-text animated></ion-skeleton-text>
							</ion-avatar>
							<ion-label>
								<h3>
								<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
								</h3>
								<p>
								<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
								</p>
								<p>
								<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
								</p>
							</ion-label>
							</ion-item>		  
						</ion-list>
					</div>
				</div>		
				<!-- END success Payment -->
		<!-------end-screen-wrapper------->		
		</div>

	</div>
</ion-content>

<!-- App tabs -->
<app-tabs></app-tabs>
<!-- App tabs -->