// .orange-bg{
   // background: #e34b00; /* Old browsers */
// background: -moz-linear-gradient(top,  #e34b00 1%, #e06b01 100%); /* FF3.6-15 */

// background: -webkit-linear-gradient(top,  #e34b00 1%,#e06b01 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  #e34b00 1%,#e06b01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// --background: linear-gradient(to bottom,  #e34b00 1%,#e06b01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e34b00', endColorstr='#e06b01',GradientType=0 ); /* IE6-9 */
// }



:host {
    .orange-bg {
        --background:none;
        background: url('../../assets/images/Default-Portrait.png');
        background-size: cover;
        background-position: center center;
    }
}