<!-- App Header -->
<app-header></app-header>
<!-- App Header -->

<!-- Back button with a default href -->
<ion-content>  
  <div class="screen-wrapper tiles-page">
    <div class="inner-pages">      
      <div class="content-inner-custom waiver-page">
        <div class="container">
          <h3 class="top_heading">We will be asking for some information to get you signed up for your waiver .</h3>
          <div class="waver-sign-up-form">
            <form [formGroup]="formdata" (ngSubmit) = "submitForm(formdata.value)" >
              <div class="row">
               <div class="col-md-12">
                  <h2>Personal info:</h2> 
                 </div>
               <div class="col-xs-6 col-md-6"><label>First Name:</label>
                  <div class="form-group"><span class="phone-icon"><img src="../assets/images/user-icon.png" alt=""></span>
                    <input type="text" formControlName="FirstName" class="form-control input-lg" placeholder="First Name">
                  </div>
                  <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                            <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                        </div>
              </div>
                <div class="col-xs-6 col-md-6"><label>Last Name:</label>
                  <div class="form-group">
                    <span class="phone-icon">
                      <img src="../assets/images/user-icon.png" alt="">
                    </span>
                    <input type="text" formControlName="LastName" class="form-control input-lg" placeholder="Last Name">
                  </div>
                </div>
                
                <div class="col-md-12">
                  <label>Email:</label>
                  <div class="form-group">
                    <span class="phone-icon"><img src="../assets/images/small-grey-envelop.png" alt=""></span>
                    <input class="form-control" type="text" placeholder="test@gmail.com" formControlName="EMailAddress">
                  </div>
                </div>
                
                <div class="col-md-12">
                  <label>Mobile No:</label>
                  <div class="form-group">
                    <span class="phone-icon">
                      <img src="../assets/images/small-gery-phone.png" alt="">
                    </span>
                    <input class="form-control" id="inputPhone" formControlName="PhoneNumber" required="required" title="" type="tel" placeholder="Mobile Number">
                  </div>
                </div>


                <div class="col-md-12">
                  <h2>Address:</h2> 
                </div>
                
                <div class="col-xs-6 col-md-6">
                  <label>Street:</label>
                  <div class="form-group">
                    <span class="phone-icon"><img src="../assets/images/street-icon.png" alt=""></span>
                    <input type="text" formControlName="Address1" class="form-control input-lg" placeholder="Enter Street">
                  </div>
                </div>
              
                <div class="col-xs-6 col-md-6">
                  <label>State:</label>
                  <div class="form-group">
                    <span class="phone-icon"><img src="../assets/images/street-icon.png" alt=""></span>
                    <input type="text" formControlName="State" class="form-control input-lg" placeholder="Enter State">
                  </div>
                </div>
                
              
                <div class="col-xs-6 col-md-6">
                  <label>Zip Code:</label>
                  <div class="form-group">
                    <span class="phone-icon"><img src="../assets/images/street-icon.png" alt=""></span>
                    <input id="zip" name="zip" type="text" pattern="[0-9]*" formControlName="ZipCode" placeholder="Enter ZipCode">
                  </div>
                </div>    
                
                <div class="submit-btn col-md-12">
                  <button [disabled]="formdata.invalid" class="btn btn-lg btn-primary btn-block btn-green" type="submit">
                  Next <!-- <img src="../assets/images/next-arrow.png" alt="" /> --></button>
                </div>              
              </div>
            
            </form>
            
          </div>        
        </div>
      </div>    
    </div>
  </div>
</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header -->

