<!-- App Header -->
<app-header></app-header>
<!-- App Header -->


<ion-content>
	<div class="screen-wrapper tiles-page">
    <div class="inner-pages">
      <div class="content-inner-custom">
          <div class="container">
            <div class="gift-card-outer">
              <div *ngIf="!gift_img">
                <div class="ion-padding custom-skeleton">
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </div>
              </div>
              <img class="gc-header-img" *ngIf="gift_img" src="{{gift_img}}"/>
              
              <div class="gift-card-form">
                <form [formGroup]="formdata" (ngSubmit) = "makePayment(formdata.value)">
                  <!--  -->
                  <div class="form-group">
                      <div class="amount-custom-inner">
                        <!-- <ion-item> -->
                        <!-- </ion-item> -->
                        <!-- UI OPTIONS -->
                        <ion-list class="gift_amounts">
                          <ion-item>
                            <ion-label >Amount</ion-label>
                            <ion-badge color='secondary' slot="end">${{manualAmount}}</ion-badge>
                            <ion-input type="hidden" formControlName="manualAmount" name="manualAmount" class="form-control" id="manualAmount" value="{{manualAmount}}"></ion-input>
                          </ion-item>
                        </ion-list>
                        <!-- END UI OPTIONS -->
                      </div>
                    </div>
                  <!--  -->
                  <div class="form-group">
                    <ion-item>
                      <ion-label position="floating">Reciever's Email</ion-label>
                      <ion-input type="email" formControlName="toemail" name="toemail" class="form-control" id="toemail"></ion-input>
                    </ion-item>
                  </div>

                  
                  <div *ngIf="formdata.get('toemail').invalid && (formdata.get('toemail').dirty || formdata.get('toemail').touched)">
                    <div *ngIf="formdata.get('toemail').hasError('required')" class="invalid">
                        Invalid input.
                      </div>
                  
                  </div>

                  <div class="form-group">
                    <ion-item>
                      <ion-label position="floating">Reciever's Mobile (Optional)</ion-label>
                      <ion-input type="tel" formControlName="tomobile" name="tomobile" class="form-control" id="tomobile"></ion-input>
                    </ion-item>
                  </div>

                  <div class="form-group">
                    <ion-item>
                      <ion-label position="floating">From</ion-label>
                      <ion-input type="text" formControlName="from_name"  name="from_name" class="form-control" id="from_name"></ion-input>
                    </ion-item>
                  </div>
                  
                  <div class="form-group">
                    <ion-item>
                      <ion-label position="floating">Your Message</ion-label>
                      <ion-textarea class="form-control" formControlName="cusMessage"  name="cusMessage" rows="2"  id="cusMessage"></ion-textarea>
                    </ion-item>
                  </div>
                                    
                  <ion-button type="submit" [disabled]="!formdata.valid" full shape="round" value="Buy Now" color="orgbtn" class="gc-order-form-bn orangeRoundBtn">Redeem Reward</ion-button>

                </form>
              </div>
            </div>
        </div>
        <!-------------content-inner-custom-end---------------->
    </div>
  </div>
</div>
</ion-content>
<!-- App Header -->
<app-tabs></app-tabs>
<!-- App Header-->