<!-- Back button with a default href -->
<ion-header>
    <ion-toolbar color="primary" class="headerSec">
      <ion-buttons slot="start">
		<ion-back-button defaultHref="rewards-home" [text]="''"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/rewards-home">
	      <ion-icon slot="icon-only" name="home"></ion-icon>
	    </ion-button>            
      </ion-buttons>
      <ion-title>
       <img alt="logo" class="appLogo" style="text-align:center;"  src="../assets/images/rockin-jump-logo.png" > 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<!-- Back button with a default href -->